{# FACEBOOK #}
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=376122772464948";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div id="fb-root"></div>

{% block fb_like %}
<div class="container">
    <div class="content" style="margin-top: 20px;margin-bottom: 10px;">
        {# FACEBOOK LIKE #}
        <div style="background-color: #ffffff; ">
            <div class="fb-like-box" data-href="https://www.facebook.com/travelallmongolia" data-width="950" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
        </div>
    </div>
    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Ftravelallmongolia&width=250&layout=standard&action=like&show_faces=true&share=true&height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:80px;" allowTransparency="true"></iframe>
</div>
{% endblock %}

<div class="footer">
    <div class="container clearfix">

        <div class="f_col f_col_3">
            <h3>LINKS:</h3>
            <ul>
                <li><a href="{{ path('homepage') }}"><span>Home</span></a></li>
                <li><a href="{{ path('page_show', {'slug':'about-us'}) }}"><span>About us</span></a></li>
                <li><a href="{{ path('page_show', {'slug':'testimonials'}) }}"><span>Testimonials</span></a></li>
                <li><a href="{{ path('page_show', {'slug':'terms-and-conditions'}) }}"><span>Terms & Conditions</span></a></li>
                <li><a href="{{ path('page_show', {'slug':'privacy-policy'}) }}"><span>Privacy Statement</span></a></li>
                <li><a href="{{ path('page_show', {'slug':'frequently-asked-questions'}) }}"><span>F.A.Q.</span></a></li>
                <li><a href="{{ path('page_show', {'slug':'sitemap'}) }}"><span>Sitemap</span></a></li>
            </ul>
        </div>

        <div class="f_col f_col_3">
            <h3>CULTURAL TOURS:</h3>
            <ul>
                {% for slug, tour in app.content_tours.tours if tour.duration is defined %}
                <li><a href="{{ path('tour_show', {'slug' : slug}) }}"><span>{{ tour.name }} ({{ tour.duration2 }})</span></a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="f_col f_col_3">
            <h3>ADVENTURE TOURS:</h3>
            <ul>
                {% for slug, tour in app.content_tours.tours if tour.duration is defined %}
                <li><a href="{{ path('tour_show', {'slug' : slug}) }}"><span>{{ tour.name }} ({{ tour.duration2 }})</span></a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="f_col f_col_3">
            <h3>CONTACT INFORMATION:</h3>
            <div class="footer_address">
                <div class="address">
                    211-24, Rapid Kharsh, Khan uul<br>
                    Ulaanbaatar, Mongolia
                </div>
                <div class="hours">
                    E-Mail: info@travelallmongolia.com<br>
                    Skype: soyoloo_mongolianluxurytours
                </div>
                <a href="{{ path('contact') }}" class="notice">Send us message</a>
            </div>
        </div>

        <div class="clear"></div>

        <div class="footer_social">
        </div>

        <div class="footer_contacts">
            <span class="phone">Call us: 976-99000601</span>
            <span class="email">Email: info@travelallmongolia.com</span>
        </div>

        <div class="copyright">
            COPYRIGHT &copy; 2014 <a href="http://www.travelallmongolia.com">Travel All Mongolia LLC</a>. All rights reserved.
        </div>

    </div>
</div>
