
<!-- header top bar -->
<div class="header_top">
    <div class="container">

        <div class="abs-info">
            <span>E-mail us: <a href="mailto:info@travelallmongolia.com">info@travelallmongolia.com</a></span>
            {#<span>|&nbsp;&nbsp;&nbsp;Call us: <a href="tel:7206464990">720-646-4990</a></span>#}
            {#<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
            <span>|&nbsp;&nbsp;&nbsp;Skype: <a href="skype:Soyoloo_Mongolianluxurytours?chat"><img src="http://mystatus.skype.com/smallclassic/Soyoloo_Mongolianluxurytours" style="border: none;" width="114" height="20" alt="My status"></a></span>#}
        </div>

        <div class="logo">
            <a href="{{ path('homepage') }}"><img src="/img/logo.png" alt="" width="150"></a>
        </div>

        <!-- topmenu -->
        <nav id="topmenu" class="clearfix">
            <ul class="dropdown">
                <li class="menu-level-0 current-menu-ancestor"><a href="{{ path('homepage') }}"><span>Home</span></a></li>
                <li class="menu-level-0"><a href="{{ path('page_show', {'slug':'testimonials'}) }}"><span>Testimonials</span></a></li>
                <li class="menu-level-0"><a href="{{ path('page_show', {'slug':'trip-calendar-2017'}) }}"><span>Trip calendar</span></a></li>
                <li class="menu-level-0"><a href="{{ path('page_show', {'slug':'about-mongolia'}) }}"><span>About Mongolia</span></a>
                    <ul class="submenu-1">
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'nomadic-experience'}) }}"><span>Nomadic experience</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'mongolian-visa'}) }}"><span>Mongolian visa</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'travel-accommodations'}) }}"><span>Travel accommodations</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'trip-calendar-2017'}) }}"><span>Trip calendar 2017</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'mongolian-arts-and-culture'}) }}"><span>Mongolian Arts and Culture</span></a></li>
                    </ul>
                </li>
                <li class="menu-level-0 mega-nav"><a href="{{ path('tour_all') }}"><span>TOURS</span></a>
                    <ul class="submenu-1">
                        <li class="menu-level-1 mega-nav-widget">
                            <!-- widget latest entries from category -->
                            <div class="widget-container widget_featured_posts">
                                <ul>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'a-classic-journey-of-mongolia-with-naadam-festival'}) }}">A Classic Journey of Mongolia with Naadam Festival (15 days, 14 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'a-classic-journey-of-mongolia-with-naadam-festival'}) }}"><img src="/images/featured_thumb_classic_naadam.jpg" alt=""></a></div>
                                    </li>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'western-southern-and-northern-mongolia-expedition'}) }}">Western, Southern and Northern Mongolia Expedition <br/>(16 days, 15 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'western-southern-and-northern-mongolia-expedition'}) }}"><img src="/images/featured_thumb_west.jpg" alt=""></a></div>
                                    </li>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'overland-discovery'}) }}">Overland Discovery <br/>(15 days, 14 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'overland-discovery'}) }}"><img src="/images/featured_thumb_overland.jpg" alt=""></a></div>
                                    </li>
                                </ul>
                            </div>
                            <!--/ widget latest entries from category -->
                        </li>
                        <li class="menu-level-1 mega-nav-widget">
                            <!-- widget latest entries from category -->
                            <div class="widget-container widget_featured_posts">
                                <ul>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'taste-of-mongolia'}) }}">Taste of Mongolia <br/>(10 days, 9 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'taste-of-mongolia'}) }}"><img src="/images/featured_thumb_taste.jpg" alt=""></a></div>
                                    </li>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'jewels-of-mongolia-with-rural-naadam-festival-in-khuvsgul-lake'}) }}">Jewels of Mongolia with Rural Naadam Festival in Khuvsgul lake<br/>(12 days, 11 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'jewels-of-mongolia-with-rural-naadam-festival-in-khuvsgul-lake'}) }}"><img src="/images/featured_thumb_rural_naadam.jpg" alt=""></a></div>
                                    </li>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'a-classic-journey-of-mongolia'}) }}">A Classic Journey of Mongolia<br/>(14 days, 13 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'a-classic-journey-of-mongolia'}) }}"><img src="/images/featured_thumb_classic.jpg" alt=""></a></div>
                                    </li>
                                </ul>
                            </div>
                            <!--/ widget latest entries from category -->
                        </li>
                        <li class="menu-level-1 mega-nav-widget">
                            <!-- widget latest entries from category -->
                            <div class="widget-container widget_featured_posts">
                                <ul>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'taste-of-mongolia-with-naadam-festival'}) }}">Taste of Mongolia with Naadam Festival<br/>(12 days, 11 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'taste-of-mongolia-with-naadam-festival'}) }}"><img src="/images/featured_thumb_naadam.jpg" alt=""></a></div>
                                    </li>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'overland-discovery-with-rural-naadam-festival'}) }}">Overland discovery with rural Naadam festival<br/>(16 days, 15 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'overland-discovery-with-rural-naadam-festival'}) }}"><img src="/images/featured_thumb_overland_naadam.jpg" alt=""></a></div>
                                    </li>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'luxury-tour-with-naadam-festival'}) }}">Luxury tour with Naadam festival<br/>(12 days, 11 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'luxury-tour-with-naadam-festival'}) }}"><img src="/images/featured_thumb_luxury.jpg" alt=""></a></div>
                                    </li>
                                </ul>
                            </div>
                            <!--/ widget latest entries from category -->
                        </li>
                    </ul>
                </li>
                <li class="menu-level-0"><a href="{{ path('page_show', {'slug':'tourist-events'}) }}"><span>Tourist events</span></a></li>
                <li class="menu-level-0"><a href="{{ path('catalog') }}"><span>Request a brochure</span></a></li>
                <li class="menu-level-0"><a href="{{ path('page_show', {'slug':'about-us'}) }}"><span>About us</span></a>
                    <ul class="submenu-1">
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'why-travel-with-us'}) }}"><span>Why Travel With Us</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'testimonials'}) }}"><span>Testimonials</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'our-lodge'}) }}"><span>Our Lodge</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'experience-luxury-in-mongolia'}) }}"><span>Experience luxury in Mongolia</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('catalog') }}"><span>Request a brochure</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('contact') }}"><span>Contact us</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'trip-calendar-2017'}) }}"><span>Trip calendar 2017</span></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!--/ topmenu -->
    </div>
</div>
<!--/ header top bar -->

<style>
    .header_top {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -ms-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
    }
    .header_top .logo {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .header_top nav {
        padding-top: 30px;
    }
    .header_top.smaller {
        height: 75px;
    }
    .header_top.smaller .container {
        padding-top: 0;
    }
    .header_top.smaller .logo {
        width: 60px;
        height: 60px;
        margin-top: 5px;
        margin-left: 5px;
    }
    .header_top.smaller .abs-info {
        display: none;
    }

    @media all and (max-width: 660px) {
        .header_top.smaller .logo {
            display: none;
        }
        .header_top.smaller nav {
            padding-top: 0;
        }
    }
</style>

<script src="/js/classie.js" type="text/javascript"></script>
<script>
    function init() {
        window.addEventListener('scroll', function(e){
            var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                shrinkOn = 300,
                header = document.querySelector(".header_top");
            if (distanceY > shrinkOn) {
                classie.add(header,"smaller");
            } else {
                if (classie.has(header,"smaller")) {
                    classie.remove(header,"smaller");
                }
            }
        });
    }
    window.onload = init();
</script>