
<!-- header top bar -->
<div class="header_top">
    <div class="container">

        <div class="abs-info">
            <span>E-mail us: <a href="mailto:info@travelallmongolia.com">info@travelallmongolia.com</a></span>
            <span>|&nbsp;&nbsp;&nbsp;Call us: <a href="tel:+8632733527">863-273-3527</a></span>
            {#<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
            <span>|&nbsp;&nbsp;&nbsp;Skype: <a href="skype:Soyoloo_Mongolianluxurytours?chat"><img src="http://mystatus.skype.com/smallclassic/Soyoloo_Mongolianluxurytours" style="border: none;" width="114" height="20" alt="My status"></a></span>#}
        </div>

        <div class="logo">
            <a href="{{ path('homepage') }}"><img src="/img/logo.png" alt="" width="150"></a>
        </div>

        <!-- topmenu -->
        <nav id="topmenu" class="clearfix" style="padding-top: 30px;">
            <ul class="dropdown">
                <li class="menu-level-0 current-menu-ancestor"><a href="{{ path('homepage') }}"><span>Home</span></a></li>
                <li class="menu-level-0"><a href="{{ path('page_show', {'slug':'trip-calendar-2016'}) }}"><span>Trip calendar</span></a></li>
                <li class="menu-level-0"><a href="{{ path('page_show', {'slug':'about-mongolia'}) }}"><span>About Mongolia</span></a>
                    <ul class="submenu-1">
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'nomadic-experience'}) }}"><span>Nomadic experience</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'mongolian-visa'}) }}"><span>Mongolian visa</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'travel-accommodations'}) }}"><span>Travel accommodations</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'trip-calendar-2016'}) }}"><span>Trip calendar 2016</span></a></li>
                    </ul>
                </li>
                <li class="menu-level-0 mega-nav"><a href="#"><span>TOURS</span></a>
                    <ul class="submenu-1">
                        <li class="menu-level-1 mega-nav-widget">
                            <!-- widget latest entries from category -->
                            <div class="widget-container widget_featured_posts">
                                <ul>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'a-classic-journey-of-mongolia-with-naadam-festival'}) }}">A Classic Journey of Mongolia with Naadam Festival (15 days, 14 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'a-classic-journey-of-mongolia-with-naadam-festival'}) }}"><img src="/images/featured_thumb_classic_naadam.jpg" alt=""></a></div>
                                    </li>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'gobi-desert-tour'}) }}">Gobi Desert tour <br/>(7 days, 6 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'gobi-desert-tour'}) }}"><img src="/images/featured_thumb_gobi.jpg" alt=""></a></div>
                                    </li>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'horse-riding-in-central-part-of-mongolia'}) }}">Horse riding in central part of Mongolia <br/>(14 days, 13 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'horse-riding-in-central-part-of-mongolia'}) }}"><img src="/images/featured_thumb_karakorum.jpg" alt=""></a></div>
                                    </li>
                                </ul>
                            </div>
                            <!--/ widget latest entries from category -->
                        </li>
                        <li class="menu-level-1 mega-nav-widget">
                            <!-- widget latest entries from category -->
                            <div class="widget-container widget_featured_posts">
                                <ul>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'taste-of-mongolia'}) }}">Taste of Mongolia <br/>(10 days, 9 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'taste-of-mongolia'}) }}"><img src="/images/featured_thumb_taste.jpg" alt=""></a></div>
                                    </li>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'treasures-of-mongolia'}) }}">Treasures of Mongolia<br/>(11 days, 10 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'treasures-of-mongolia'}) }}"><img src="/images/featured_thumb_bayanzag.jpg" alt=""></a></div>
                                    </li>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'a-classic-journey-of-mongolia'}) }}">A Classic Journey of Mongolia<br/>(14 days, 13 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'a-classic-journey-of-mongolia'}) }}"><img src="/images/featured_thumb_classic.jpg" alt=""></a></div>
                                    </li>
                                </ul>
                            </div>
                            <!--/ widget latest entries from category -->
                        </li>
                        <li class="menu-level-1 mega-nav-widget">
                            <!-- widget latest entries from category -->
                            <div class="widget-container widget_featured_posts">
                                <ul>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'taste-of-mongolia-with-naadam-festival'}) }}">Taste of Mongolia with Naadam Festival<br/>(12 days, 11 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'taste-of-mongolia-with-naadam-festival'}) }}"><img src="/images/featured_thumb_naadam.jpg" alt=""></a></div>
                                    </li>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'khuvsgul-lake-tour'}) }}">Khuvsgul lake tour<br/>(6 days, 5 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'khuvsgul-lake-tour'}) }}"><img src="/images/featured_thumb_turtle.jpg" alt=""></a></div>
                                    </li>
                                    <li class="post-item">
                                        <div class="post-title"><a href="{{ path('tour_show', {'slug' : 'luxury-tour-with-naadam-festival'}) }}">Luxury tour with Naadam festival<br/>(12 days, 11 nights)</a></div>
                                        <div class="post-image"><a href="{{ path('tour_show', {'slug' : 'luxury-tour-with-naadam-festival'}) }}"><img src="/images/featured_thumb_luxury.jpg" alt=""></a></div>
                                    </li>
                                </ul>
                            </div>
                            <!--/ widget latest entries from category -->
                        </li>
                    </ul>
                </li>
                <li class="menu-level-0"><a href="{{ path('page_show', {'slug':'tourist-events'}) }}"><span>Tourist events</span></a></li>
                <li class="menu-level-0"><a href="{{ path('page_show', {'slug':'tourist-attractions'}) }}"><span>Tourist attractions</span></a></li>
                <li class="menu-level-0"><a href="{{ path('page_show', {'slug':'about-us'}) }}"><span>About us</span></a>
                    <ul class="submenu-1">
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'why-travel-with-us'}) }}"><span>Why Travel With Us</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'testimonials'}) }}"><span>Testimonials</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'experience-luxury-in-mongolia'}) }}"><span>Experience luxury in Mongolia</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('catalog') }}"><span>Request a brochure</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('contact') }}"><span>Contact us</span></a></li>
                        <li class="menu-level-1"><a href="{{ path('page_show', {'slug':'trip-calendar-2016'}) }}"><span>Trip calendar 2016</span></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!--/ topmenu -->
    </div>
</div>
<!--/ header top bar -->
