{% extends 'layout.html.twig' %}
{% block body_wrap_class %}body_wrap homepage{% endblock %}
{% block content %}

    {% include '_carousel.html.twig' with slides %}

    <div class="middle_row row_light_gray">
        <div class="container clearfix">
            <!-- week offer -->
            <div class="week_offer">
                <h2>SPECIAL OFFER</h2>
                <div class="offer_box">
                    <div class="offer_image"><a href="{{ path('tour_show', {'slug' : 'highlights-of-mongolia'}) }}"><img src="/images/special_offer.jpg" alt=""></a></div>
                    <div class="offer_text">
                        <h3><a href="{{ path('tour_show', {'slug' : 'khuvsgul-lake-tour'}) }}">Khuvsgul Lake Tour</a></h3>
                        <div class="offer_price">6 days / 5 nights</div>
                        <div class="offer_descr">
                            We invites you to join us this coming summer for an experience of a lifetime in the awesome landscapes of Mongolia, from mountains, to lakes, to hot dry desert, to rolling hills of open grassland...
                        </div>
                    </div>
                </div>
            </div>
            <!--/ week offer -->
            <!-- special offer -->
            <div class="special_offers">
                <h2>BEST SELLER</h2>

                <div id="special_offers">

                    <div class="special_item">
                        <div class="special_image">
                            <a href="{{ path('tour_show', {'slug' : 'naadam-festival-journey'}) }}"><img src="/images/special_offer_naadam.jpg" alt=""></a>
                        </div>
                        <div class="special_text">
                            <h3><a href="{{ path('tour_show', {'slug' : 'taste-of-mongolia-with-naadam-festival'}) }}">Naadam Festival Journey</a></h3>
                            <div class="info_row"><span>DURATION:</span> 12 days, 11 nights</div>
                            <div class="info_row"><span>AVAILABLE:</span> July 2 - July 13</div>
                            <div class="special_price"><a href="{{ path('tour_show', {'slug' : 'naadam-festival-journey'}) }}">VIEW DETAILS</a></div>
                        </div>
                    </div>

                    <div class="special_item">
                        <div class="special_image">
                            <a href="{{ path('tour_show', {'slug' : 'treasures-of-mongolia'}) }}"><img src="/images/special_offer_bayanzag.jpg" alt=""></a>
                        </div>
                        <div class="special_text">
                            <h3><a href="{{ path('tour_show', {'slug' : 'treasures-of-mongolia'}) }}">Treasures of Mongolia</a></h3>
                            <div class="info_row"><span>DURATION:</span> 11 days, 10 nights</div>
                            <div class="info_row"><span>REGION:</span> Southern &amp; Central</div>
                            <div class="special_price"><a href="{{ path('tour_show', {'slug' : 'treasures-of-mongolia'}) }}">VIEW DETAILS</a></div>
                        </div>
                    </div>

                    <div class="special_item">
                        <div class="special_image">
                            <a href="{{ path('tour_show', {'slug' : 'gobi-and-beyond'}) }}"><img src="/images/special_offer_gobi.jpg" alt=""></a>
                        </div>
                        <div class="special_text">
                            <h3><a href="{{ path('tour_show', {'slug' : 'gobi-desert-tour'}) }}">Gobi Desert Tour</a></h3>
                            <div class="info_row"><span>DURATION:</span> 7 days, 6 nights</div>
                            <div class="info_row"><span>REGION:</span> Southern Mongolia</div>
                            <div class="info_row"><span>AVAILABLE:</span> May 01-October 1</div>
                            <div class="special_price"><a href="{{ path('tour_show', {'slug' : 'gobi-desert-tour'}) }}">VIEW DETAILS</a></div>
                        </div>
                    </div>

                </div>
            </div>
            <!--/ special offer -->
        </div>
    </div>

    <!-- middle -->
    <div id="middle" class="cols2 sidebar_right" style="background-color: #ffffff; padding: 65px 0 0 0;">
    <div class="container clearfix">
    <!-- content -->
    <div class="content">
        <div class="banner_slider" id="banner_slider">
            <div class="banner_item">
                <a href="{{ path('tour_show', {'slug':'taste-of-mongolia-with-naadam-festival'}) }}">
                    <img src="/images/baner_big_naadam.jpg" alt="">
                </a>
            </div>
        </div>

        <!-- author description -->
        <div class="author-description" style="margin-top: 4i0px;">
            <div class="author-text" style="border-bottom: none;width: 600px;padding: 25px 15px 80px 15px;">
                <p>Welcome to the Ancient land of the Great Mongolian Empire.</p>
                <p>Travel All Mongolia invites you to join us this coming summer for an experience of lifetime in the awesome landscapes of Mongolian, from mountains, to lakes, to hot dry desert, to rolling hills of open grassland. A land of undiscovered nature and a unique culture of unforgettable experiences of nomadic herdsman heritage that spans thousands of years since antiquity.</p>
                <p>We offer you a variety of trips throughout Mongolia including but not limited to, horse rides across the landscape, camel rides, visits to the Gobi desert for tours, research, and study, trekking adventures across Mongolia,Trans-Siberian tours, train ticket booking, horse and camel tours, kayak tours, andjeep tours by road. All you need to do is book your flight to Ulaanbaatar, the capital of Mongolia and inform us of your arrival and departure dates, along with what you are interested in doing in Mongolia on your tour here. We will custom plan your stay for you.</p>
                <p>From the moment of your arrival, until your departure, leave the planning to us and just enjoy your adventure. All of our trips include your meals, professional drivers and tour guides who are experts in showing you around our beautiful countryside.</p>
                <p>You can travel to Mongolia by rail on the Trans-Siberian Express, from Beijing, People's Republic of China (PRC), or fly in to Ulaanbaatar on China Airlines from Beijing PRC, MIAT Mongolian Airlines, Aeroflot from Moscow, Korean Air from Seoul, South Korea, or directly on Mongolian Airlines from Beijing, China, PRC or Berlin, Germany.</p>
                <p>Yours sincerely <br/>
                    Travel All Mongolia Team</p>
            </div>
        </div>
        <!--/ author description -->
    </div>
    <!-- sidebar -->
    <div class="sidebar">
        <div class="box">
            {{ include('Page/_quick_contact.html.twig') }}
        </div>

        <div style="margin-bottom: 10px;" class="fb-like-box" data-href="https://www.facebook.com/travelallmongolia" data-width="282" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>

        <a href="{{ path('page_show', {'slug':'trip-calendar-2015'}) }}">
            <img src="/images/baner_300x250.jpg" width="300" height="250" alt="">
        </a>
    </div>
    </div>
    </div>

{% endblock %}

{% block fb_like %}
{% endblock %}