<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
    {# Basic Page Needs #}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% include '_metatags.html.twig' %}
    {# Mobile Specific Metas #}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {# CSS #}
    <link rel="shortcut icon" href="/favicon.ico">
    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,600,700|PT+Serif+Caption:400,400italic' rel='stylesheet' type='text/css'>

        <link href="/style.css" media="screen" rel="stylesheet">
        <link href="/screen.css" media="screen" rel="stylesheet">
        <!-- custom CSS -->
        <link href="/custom.css" media="screen" rel="stylesheet">
    {% endblock %}
    {# GOOGLE ANALYTICS #}
    {% if not app['debug'] %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35644824-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

        <meta name="google-site-verification" content="Dg-4dn5kDOqXidrF0L4DjNdAjKrSN_MpyK4pj00cESY" />
        <meta name="msvalidate.01" content="C8E5C468DFC6AB2DB058E47701AADE0B" />
    {% endif %}

    {# JavaScripts #}
    {% block javascripts %}
        <!-- main JS libs  -->
        <script src="/js/libs/modernizr.min.js"></script>
        <script src="/js/libs/respond.min.js"></script>
        {#<script src="/js/libs/jquery.min.js"></script>#}
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="/js/protects.js"></script>
        <script type="text/javascript">
            $(function() {
                $('body').contentprotector({protect: false}); // turn off content protection by set false
            });
        </script>

        <!-- scripts  -->
        <script src="/js/jquery.easing.min.js"></script>
        <script src="/js/general.js"></script>
        <script src="/js/hoverIntent.js"></script>
        <!-- carousel -->
        <script src="/js/jquery.carouFredSel.min.js"></script>
        <script src="/js/jquery.touchSwipe.min.js"></script>
        <!-- styled select -->
        <link rel="stylesheet" href="/css/cusel.css">
        <script src="/js/cusel-min.js"></script>

        <link href="/rs-plugin/css/settings.css" media="screen" rel="stylesheet">
        <script src="/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <!-- shortcode: Lightbox prettyPhoto -->
        <link rel="stylesheet" href="/css/prettyPhoto.css">
        <script src="/js/jquery.prettyPhoto.js"></script>
    {% endblock %}
    {% if app.debug == false %}
        <script language="javascript">
            function clearData(){
                window.clipboardData.setData('text','')
            }
            function cldata(){
                if(window.clipboardData){
                    clipboardData.clearData();
                }
            }
            setInterval("cldata();", 1000);
        </script>
        <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
            window.$zopim||(function(d,s){var z=$zopim=function(c){
                z._.push(c)},$=z.s=
                    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
                $.src='//v2.zopim.com/?26yMcWeE6yTtZKTg8xzP15mRfyAPcchz';z.t=+new Date;$.
                        type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
        </script>
        <!--End of Zopim Live Chat Script-->
        {# purechat #}
        {#<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: 'b1cc57d4-0310-4ce0-bab3-611ebd74a792', f: true }); done = true; } }; })();</script>#}
    {% endif %}
</head>

<body>

<div class="{% block body_wrap_class %}body_wrap{% endblock %}" {% if app.debug == false %}ondragstart="return false;" onselectstart="return false;" {# oncontextmenu="return false;"#} onload="clearData();" onblur="clearData();"{% endif %}>
{% include '_header.html.twig' %}
{% block content %}{% endblock %}

    {# FACEBOOK #}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=376122772464948";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div id="fb-root"></div>

    {% block fb_like %}
        <div class="container">
            <div class="content" style="margin-top: 20px;margin-bottom: 10px;">
                {# FACEBOOK LIKE #}
                <div style="background-color: #ffffff; overflow: hidden;">
                    {#<div style="width: 470px; margin-right: 10px; float: left"><a href="/tour/a-classic-journey-of-mongolia-with-naadam-festival.html"><img src="/images/banner_naadam.jpg"/></a></div>#}
                    <div class="fb-like-box" data-href="https://www.facebook.com/travelallmongolia" data-width="950" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
                </div>
            </div>
            {#<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Ftravelallmongolia&width=250&layout=standard&action=like&show_faces=true&share=true&height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:80px;" allowTransparency="true"></iframe>#}
        </div>
    {% endblock %}

    <div class="footer">
        <div class="container clearfix">

            <div class="f_col f_col_3" style="width: 140px;">
                <h3>LINKS:</h3>
                <ul>
                    <li><a href="{{ path('homepage') }}"><span>Home</span></a></li>
                    <li><a href="{{ path('page_show', {'slug':'about-us'}) }}"><span>About us</span></a></li>
                    <li><a href="{{ path('page_show', {'slug':'testimonials'}) }}"><span>Testimonials</span></a></li>
                    <li><a href="{{ path('page_show', {'slug':'our-lodge'}) }}"><span>Our Lodge</span></a></li>
                    <li><a href="{{ path('page_show', {'slug':'mongolian-arts-and-culture'}) }}"><span>Mongolian Arts and Culture</span></a></li>
                    <li><a href="{{ path('page_show', {'slug':'terms-and-conditions'}) }}"><span>Terms & Conditions</span></a></li>
                    <li><a href="{{ path('page_show', {'slug':'privacy-policy'}) }}"><span>Privacy Statement</span></a></li>
                    <li><a href="{{ path('page_show', {'slug':'frequently-asked-questions'}) }}"><span>F.A.Q.</span></a></li>
                    <li><a href="{{ path('page_show', {'slug':'sitemap'}) }}"><span>Sitemap</span></a></li>
                </ul>
            </div>

            <div class="f_col f_col_3" style="width: 300px;">
                <h3>CULTURAL JOURNEY:</h3>
                <ul>
                    {% for slug, tour in app.content_tours.tours %}
                        {% if tour.duration is defined and tour.type is defined and tour.type == 'cultural' %}
                        <li><a href="{{ path('tour_show', {'slug' : slug}) }}"><span>{{ tour.name }} ({{ tour.duration2 }})</span></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="f_col f_col_3" style="width: 300px;">
                <h3>ADVENTURE TOURS:</h3>
                <ul>
                    <li><a href="{{ path('tour_show', {'slug' : 'eagle-festival-and-gobi-desert'}) }}"><span>Golden Eagle Festival &amp; Gobi Desert 2017 (14 days / 13 nights)</span></a></li>
                    <li><a href="{{ path('tour_show', {'slug' : 'golden-eagle-festival'}) }}"><span>Golden Eagle Festival & Hustai National Park 2017 (8 days / 7 nights)</span></a></li>
                    {% for slug, tour in app.content_tours.tours if tour.type is not defined %}
                        <li><a href="{{ path('tour_show', {'slug' : slug}) }}"><span>{{ tour.name }} {% if tour.duration is defined %}({{ tour.duration2 }}){% endif %}</span></a></li>
                    {% endfor %}
                </ul>
                <a href="{{ path('catalog') }}"><img src="/images/order-catalog.jpg" alt="Request a catalog"/></a>
            </div>

            <div class="f_col f_col_3" style="width: 140px;">
                <h3>CONTACT INFORMATION:</h3>
                <div class="footer_address">
                    <div class="address">
                        211-24, Rapid Kharsh, Khan uul<br>
                        Ulaanbaatar, Mongolia
                    </div>
                    <div class="hours">
                        E-Mail: info@travelallmongolia.com<br>
                        Phone: 976-70005599 <br>
                        Mobile: 976-99000601, 99993033
                        {#Skype: soyoloo_mongolianluxurytours#}
                    </div>
                    {#<h3 style="margin-top: 10px">ADDRESS IN UNITED STATES:</h3>
                    <div class="address">
                        5201 Diamond Drive, <br/>
                        Sebring Florida, FL 33875
                    </div>#}
                    <a href="{{ path('contact') }}" class="notice">Send us message</a>
                </div>
                <div>
                    <img src="/images/we_accept.png" alt="We accept all major credit cards" style="width: 220px !important;max-width: 300px !important; margin-top: 29px;">
                </div>
            </div>

            <div class="clear"></div>

            <div class="footer_social">
            </div>

            <div class="footer_contacts">
                {#<span class="phone">Call us: 720-646-4990</span>#}
                <span class="email">Email: info@travelallmongolia.com</span>
            </div>

            <div class="copyright">
                COPYRIGHT &copy; 2017 <a href="http://www.travelallmongolia.com">Travel All Mongolia LLC</a>. All rights reserved.
            </div>

        </div>
    </div>
</div><!--end wrapper-->


<a href="{{ path('catalog') }}">
    <img src="/images/request_free_catalog.jpg" alt="Request free catalog"
         style="position: fixed; right: 0; top: 20%; cursor: pointer; z-index: 999; width: 30px;">
</a>
<a href="{{ path('request_a_callback') }}">
    <img src="/images/request_a_callback.png" alt="Request a callback"
         style="position: fixed; right: 0; top: 20%; cursor: pointer; z-index: 999; width: 30px; margin-top: 187px;">
</a>
<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable 
information or placed on pages related to sensitive categories. See more 
information and instructions on how to setup the tag on: 
http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
var google_tag_params = {
        travel_destid: "TAM123A",
        flight_pagetype: "home",
        flight_totalvalue:  2350.00
};
</script>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 973048679;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" 
src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" 
src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/973048679/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<div class="drop">
</div>
<script type="text/javascript" src="/js/snowflake.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('body').christmassnow({
            snowflaketype: 23, // 1 to 25 types of flakes are available change the number from 1 to 25. each one contain different images.
            snowflakesize: 2, //snowflakesize is 1 then it get the size of the image as random , if the snowflakesize is 2 means size of the image as custom
            snowflakedirection: 1, // 1 means default no wind (top to bottom), 2 means random, 3 means left to right and 4 means  right to left
            snownumberofflakes: 4, // number of flakes is user option
            snowflakespeed: 10, // falling speed of flake 10 sec is default
            flakeheightandwidth: 15 // if you are mention that option flakesize is 2 then this flakeheightandwidth should work values are in pixels 16*16.
        });
    });
</script>
</body>

</html>