
<!-- login widget -->
<div class="widget-container widget_login">
    <h2>Quick contact</h2>

    <form method="post" action="{{ path('contact_send') }}" class="loginform">

        {% for message in app.session.getFlashBag.get('inquiry') %}
            <mark style="padding: 10px;display: block;"> {{ message }}</mark>
        {% endfor %}

        {% set form = app.inquiry_form %}
        <p><label>Your name</label><br>
            {{ form_widget(form.name, { 'attr': {'class': 'input'} }) }}</p>
        <p><label>Your email address</label><br>
            {{ form_widget(form.email, { 'attr': {'class': 'input'} }) }}</p>
        <p><label>Your phone number</label><br>
            {{ form_widget(form.phone, { 'attr': {'class': 'input'} }) }}</p>
        <p><label>Evening phone</label><br>
            {{ form_widget(form.phone2, { 'attr': {'class': 'input'} }) }}</p>
        <p><label>Your message</label><br>
            {{ form_widget(form.content, { 'attr': {'class': 'input', 'rows': '4'} }) }}</p>

        {{ form_rest(form) }}
        <p class="submit">
            <input type="submit" name="wp-submit" id="wp-submit" class="btn-submit" value="Send" tabindex="100">
        </p>
    </form>
</div>
<!--/ login widget -->
