{% extends 'layout.html.twig' %}

{% block content %}
    <!-- header -->
    <div class="header header_thin" style="background-image:url(/images/slider8_mini.jpg)">

        <div class="header_title">
            <strong><span>Contact Us</span></strong>
        </div>

    </div>
    <!--/ header -->

    <!-- breadcrumbs -->
    <div class="middle_row row_white breadcrumbs">
        <div class="container">
            <p><a href="{{ path('homepage') }}">Home</a>  <span class="separator">&rsaquo;</span>
                <span class="current">Contact Us</span></p>
        </div>
    </div>
    <!--/ breadcrumbs -->

    <!-- middle -->
<div id="middle" class="cols2">
  <div class="container clearfix">
    <!-- content -->
    <div class="content">

        <div class="entry">

            <div class="contact_box">
                <h2>Send Us Message:</h2>
                <div class="box_content clearfix">
                    <!-- contact form -->
                    <form action="{{ path('contact_send') }}" method="post" id="contactForm" class="clearfix ajax_form">

                        <div class="form_col_1" style="margin-right: 30px;">
                            <div class="row alignleft field_text">
                                <label class="label_title">Name:</label>
                                {{ form_widget(form.name, { 'attr': {'class': 'inputField required', 'placeholder':'Your Name - Required'} }) }}
                            </div>
                        </div>

                        <div class="form_col_1">

                            <div class="row alignleft field_text omega">
                                <label class="label_title">Email (never published):</label>
                                {{ form_widget(form.email, { 'attr': {'class': 'inputField required', 'placeholder':'Your Email - Required'} }) }}
                            </div>
                        </div>

                        <div class="form_col_1" style="margin-right: 30px;">
                            <div class="row alignleft field_text">
                                <label class="label_title">Day time phone:</label>
                                {{ form_widget(form.phone, { 'attr': {'class': 'inputField required', 'placeholder':'Your Phone - Required'} }) }}
                            </div>
                        </div>

                        <div class="form_col_1">

                            <div class="row alignleft field_text omega">
                                <label class="label_title">Evening phone:</label>
                                {{ form_widget(form.phone2, { 'attr': {'class': 'inputField required', 'placeholder':'Your Phone - Required'} }) }}
                            </div>
                        </div>


                        <div class="form_col_2">
                            <div class="row">
                                <label class="label_title">Message:</label>
                                {{ form_widget(form.content, { 'attr': {'class': 'textareaField required', 'placeholder':'Your Message...', 'rows' : '30', 'cols' : '10'} }) }}
                            </div>
                        </div>
                        {{ form_rest(form) }}

                        <div class="form_col_3">
                            <div class="row rowSubmit clearfix">
                                <input type="submit" value="Send Message" id="send" class="btn btn-submit">
                            </div>
                        </div>
                    </form>
                    <!--/ contact form -->

                </div>
            </div>

        </div><!--end row-->
    </div>

    <!-- sidebar -->
    <div class="sidebar" style="margin-top: 35px;">
        <div class="box">
            <div style="margin: 10px;">
                {% include 'Page/_contact_information.html.twig' %}
            </div>
        </div>

        <div>
            <a href="{{ path('catalog') }}"><img src="/images/request_catalog.jpg" alt="Request a catalog"/></a>
        </div>
    </div>
    <!--/ sidebar -->

  </div>
</div><!--end conatiner-->

{% endblock %}