{% extends 'layout.html.twig' %}

{% block content %}
    <!-- header -->
    <div class="header header_thin" style="background-image:url(/images/slider1_mini.jpg)">

        <div class="header_title">
            <strong><span>Tours</span></strong>
        </div>

    </div>
    <!--/ header -->

    <!-- breadcrumbs -->
    <div class="middle_row row_white breadcrumbs">
        <div class="container">
            <p><a href="{{ path('homepage') }}">Home</a>  <span class="separator">&rsaquo;</span>
                <span class="current">Tours</span></p>
        </div>
    </div>
    <!--/ breadcrumbs -->

    <div class="middle_row row_light_gray">
        <div class="container clearfix">
            <!-- special offer -->
            <div class="" style="width: 470px;float:left;">
                {% for tour in tours if tour.duration2 is defined %}
                    {% if loop.index <= tours|length / 2 %}
                    <div class="special_item">
                        <div class="special_image">
                            <a href="{{ path('tour_show', {'slug' : tour.slug}) }}"><img src="{{ tour.list_img is defined and tour.list_img is not null ? tour.list_img : 'http://placehold.it/310x134' }}" alt="{{ tour.name }}"></a>
                        </div>
                        <div class="special_text">
                            <h3><a href="{{ path('tour_show', {'slug' : tour.slug}) }}">{{ tour.name }}</a></h3>
                            <div class="info_row"><span>DURATION:</span> {{ tour.duration2 }}</div>
                            {% if tour.price_int is defined and tour.price_int is not null and tour.name|length < 40 %}
                            <div class="info_row"><span>PRICE FROM:</span> ${{ tour.price_int }}</div>
                            {% endif %}
                            <div class="special_price"><a href="{{ path('tour_show', {'slug' : tour.slug}) }}">VIEW DETAILS</a></div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!--/ special offer -->
            <!-- special offer -->
            <div class="" style="width: 470px;float:left;">
                {% for tour in tours if tour.duration2 is defined %}
                    {% if loop.index > tours|length / 2 %}
                    <div class="special_item">
                        <div class="special_image">
                            <a href="{{ path('tour_show', {'slug' : tour.slug}) }}"><img src="{{ tour.list_img is defined and tour.list_img is not null ? tour.list_img : 'http://placehold.it/310x134' }}" alt="{{ tour.name }}"></a>
                        </div>
                        <div class="special_text">
                            <h3><a href="{{ path('tour_show', {'slug' : tour.slug}) }}">{{ tour.name }}</a></h3>
                            <div class="info_row"><span>DURATION:</span> {{ tour.duration2 }}</div>
                            {% if tour.price_int is defined and tour.price_int is not null and tour.name|length < 40 %}
                            <div class="info_row"><span>PRICE FROM:</span> ${{ tour.price_int }}</div>
                            {% endif %}
                            <div class="special_price"><a href="{{ path('tour_show', {'slug' : tour.slug}) }}">VIEW DETAILS</a></div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!--/ special offer -->
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .special_text .special_price a, .special_text h3 a, .special_text .info_row {color: black;}
    </style>
{% endblock %}
