{% extends 'layout.html.twig' %}

{% block content %}

    <!-- header -->
    <div class="header header_thin" style="background-image:url(/images/slider3_mini.jpg)">

        <div class="header_title">
            <strong><span>{{ tour.name }}</span> ({{ tour.duration2 }})</strong>
        </div>

    </div>
    <!--/ header -->

    <!-- breadcrumbs -->
    <div class="middle_row row_white breadcrumbs">
        <div class="container">
            <p><a href="{{ path('homepage') }}">Home</a>  <span class="separator">&rsaquo;</span>
                <span class="current">Tours</span>  <span class="separator">&rsaquo;</span>
                <span class="current">{{ tour.name }}</span></p>
        </div>
    </div>
    <!--/ breadcrumbs -->

    <!-- middle -->
    <div id="middle" class="cols2 sidebar_left">
        <div class="container clearfix">

            <!-- sidebar -->
            <div class="sidebar">
                <div class="box">

                    <!-- widget_categories -->
                    <div class="widget-container widget_categories">
                        <h3 class="widget-title">Trip snapshot</h3>
                        <b style="color: #B28E1B">Tour length:</b> <span>{{ tour.duration2 }}</span>
                        <br/>
                        <b style="color: #B28E1B">Available time:</b> <span>{{ tour.availableTime|raw }}</span>
                        <br/>
                        <b style="color: #B28E1B">Region:</b> <span>{{ tour.region }}</span>
                        <br/>
                        <b style="color: #B28E1B">Price:</b> <span>$3698</span>
                        <br/>{#
                        <span style="font-weight: bold; color: brown"><a
                                    href="http://www.travelallmongolia.com/contact/form">
                                Contact us for Early Booking Discount</a></span>
                        <br/>#}
                        {#<span style="font-weight: bold; color: brown">Save $200 BOOK by Dec 31, 2018</span>
                        <br/>#}
                        <b style="color: #B28E1B">Single supplement:</b> <span>$500</span>
                        <br/>
                        If you are traveling alone and wish to share a room with another participant, we will try to find a roommate for you

                        {# early booking banner #}
                        {% if app.show_early_booking_banner %}
                            <a href="#!" data-rel="prettyPhoto" title="Travel map" hidefocus="true" rel="prettyPhoto" style="outline: none;">
                                <img src="/images/early-booking-banner.png" width="380" class="frame_box"/></a>
                        {% endif %}
                    </div>
                    <!--/ widget_categories -->

                    <!-- widget_categories -->
                    <div class="widget-container widget_categories">
                        <h3 class="widget-title" style="margin-bottom:0;">Travel map</h3>
                    </div>
                    <a href="{{ tour.mapLarge }}" data-rel="prettyPhoto" title="Travel map" hidefocus="true" rel="prettyPhoto" style="outline: none;"><img src="{{ tour.map }}" width="380" class="frame_box"/></a>
                    <!--/ widget_categories -->

                    <!-- widget_recent_comments -->
                    <div class="widget-container widget_popular">
                        <h3 class="widget-title">Highlights</h3>
                        <ul>
                            {% for highlight in tour.highlights %}
                                <li><a href="javascript:;">{{ highlight }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--/ widget_recent_comments -->

                    {{ include('Tour/_discount.html.twig') }}

                    <!-- login widget -->
                    <div class="widget-container widget_login">
                        <h2>Quick inquiry</h2>

                        <form method="post" action="{{ path('inquiry_send', {'slug':slug}) }}" class="loginform" novalidate>

                            <input type="hidden" name="tourName" value="{{ tour.name }}">
                            {% for message in app.session.getFlashBag.get('inquiry') %}
                                <mark style="padding: 10px;display: block;"> {{ message }}</mark>
                            {% endfor %}

                            <p><label>Your name</label><br>
                                {{ form_widget(form.name, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your email address</label><br>
                                {{ form_widget(form.email, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your phone number</label><br>
                                {{ form_widget(form.phone, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your message</label><br>
                                {{ form_widget(form.content, { 'attr': {'class': 'input', 'rows': '4'} }) }}</p>
                            <div style="display: none">
                                {{ form_widget(form.phone2, { 'attr': {'class': 'input'} }) }}
                            </div>

                            {{ form_rest(form) }}
                            <p class="submit">
                                <input type="submit" name="wp-submit" id="wp-submit" class="btn-submit" value="Send" tabindex="100">
                            </p>
                        </form>
                    </div>
                    <!--/ login widget -->

                    <!-- subscribe buttons -->
                    <div class="widget-container subscribe_btn">
                        <div>
                            <a href="{{ path('page_show', {'slug':'trip-calendar-2020'}) }}"><img src="/images/group_travel_2020.jpg" alt="Join our group travel 2020"/></a>
                        </div>
                    </div>
                    <!--/ subscribe buttons -->
                </div>

                <div class="sb sb_dark">
                    <div class="box_title">Included</div>
                    <div class="box_content">
                        <div class="entry">
                            <div class="list_check">
                                <ul>
                                    <li>Private ger for every 2 people in Tourist camp</li>
                                    <li>All meals as listed in itinerary</li>
                                    <li>All entrance fees</li>
                                    <li>Sightseeing as per itinerary</li>
                                    <li>Accommodation in 4 stars hotel in Ulaanbaatar (twin standard room double occupancy)</li>
                                    <li>Transportations by 4WD vehicles</li>
                                    <li>English speaking guide (other language guide on request)</li>
                                    <li>Daily supply of bottled water</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="sb sb_dark">
                    <div class="box_title">Not included</div>
                    <div class="box_content">
                        <div class="entry">
                            <div class="list_delete">
                                <ul>
                                    <li>International airfare</li>
                                    <li>Travel insurance</li>
                                    <li>Beverages</li>
                                    <li>Optional activity cost</li>
                                    <li>Excess baggage charge</li>
                                    <li>Single room supplement</li>
                                    <li>Any additional things which are not mentioned above</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="sb sb_blue">
                    <div class="box_title">Testimonial</div>
                    <div class="box_content">
                        <div class="slider_quotes" style="margin-top: 45px;">
                            <div class="slider-item">
                                {% if tour.testimonial is defined %}
                                    <div class="quote-text">
                                        {{ tour.testimonial|raw }}
                                    </div>
                                {% else %}
                                    <div class="quote-text">
                                        <strong>Hello Soyoloo</strong><br/><p>Just want to thank you for your wonderful hospitality and expert tour guiding during our trip to Mongolia.  We loved visiting the Husai National Park and exploring the city of Ulaanbaatar.  Our favorite part of the trip was seeing the beautiful countryside and encountering wild horses, camels and eagles.
                                            Thank you so much for showing us around and making sure our trip was a success.  We also enjoyed our driver, Zoloo.  Look forward to planning our next adventure with you.
                                        </p></div>
                                    <div class="quote-author">
                                        <strong>Lisa Berkman, Tour group from USA</strong>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                {{ include('Tour/_catalog_urt.html.twig') }}

            </div>
            <!--/ sidebar -->

            <!-- content -->
            <div class="content">
                <h2>{{ tour.name }} ({{ tour.duration2 }})</h2>

                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for slide in tour.pictures %}
                            <div class="swiper-slide">
                                <img src="{{ slide }}" alt="{{ tour.name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

                <div class="">
                    <div class="post-item">
                        <div class="post-aside clearfix">
                            <div class="entry">
                                {{ tour.overview |raw }}
                            </div>

                            {# buttons #}
                            <a class="btn btn_default" href="{{ path('booking') }}"><span>BOOK TRIP</span></a>
                            {{ include('Tour/_send_to_a_friend.html.twig') }}
                            {#<a class="btn btn-info" href="{{ path('request_quote',{'slug':slug}) }}">REQUEST A QUOTE</a>#}
                            {% if tour.pdf is defined and tour.pdf is not null %}
                                <a class="btn btn_cyan" href="{{ path('download_pdf',{'slug':tour.pdf}) }}"><span>DOWNLOAD PDF</span></a>
                            {% else %}
                                <a class="btn btn_cyan" href="{{ path('request_quote',{'slug':slug}) }}"><span>REQUEST A QUOTE</span></a>
                            {% endif %}
                            <a class="btn btn_green" href="{{ path('catalog') }}"><span>REQUEST A CATALOG</span></a>
                            {#<a class="btn btn_violet" style="margin-top: 5px;" href="{{ path('request_airfare_quote') }}"><span>REQUEST AIRFARE QUOTE</span></a>#}
                            <a class="btn btn_turquoise" style="margin-top: 5px;" href="{{ path('request_a_callback') }}"><span>REQUEST A CALLBACK</span></a>
                            {{ include('Tour/_trip_advisor_button.html.twig') }}

                            <h2 style="color: #B28E1B; margin-top: 20px; ">DETAILED TOUR ITINERARY</h2>

                            <div class="sb sb_brown">
                                <div class="box_title">July 19 - Day 1 Arrive UlaanBaatar</div>
                                <div class="box_content">
                                    <p>Upon arrival at Genghis Khan International Airport, you are met by our guide and transferred to the hotel in the city center.
                                        <br> Rest of the day is for rest and to recover jet lag and travel fatigue.
                                    </p>
                                    <p><strong><em> Overnight at 4* hotel<br/>Meals: Dinner </em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">July 20 - Day 2 Ulaan Baatar City Tour</div>
                                <div class="box_content">
                                    <p>The first stop is at Sukhbaatar Square, which is the central square named after the revolutionary hero of 1921 Damdiny Sukhbaatar whom declared independence from China. You will visit the Gandan Monastery that is the largest and most famous functioning monastery in Mongolia; here you may experience the monks in worship and see the impressive Golden Buddha Statue of Migjid Janraisig. Time permitting you can visit the Natural History Museum which is famous for its authentic dinosaur skeletons and also visit the Zaisan memorial hill to get a fantastic view of whole city. You will have a welcome dinner at local restaurant.</p>
                                    <p><strong><em> Overnight at 4* hotel<br/>Meals: Breakfast, Lunch, and Dinner </em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">July 21 - Day 3 Ulaanbaatar to Elsen Tasarkhai</div>
                                <div class="box_content">
                                    <p>In the morning we will drive to Elsen Tasarkhai. In the afternoon, we will visit Erdene Khamba Monastery, also known as Khogno Tarnyn Khiid, is located only 18 km north of Elsen Tasarhai, at the Khogno Khan Uul Mountains (1967 m ASL.) Today there are only the ruins. Erdene Khamba Monastery had two sections: the lower one called the Zaluu Khiid, or the Novice Temple and the upper one called the Uvgun Khiid, or the Elders Temple, which was built on top of the mountain.
                                        <br><strong>Erdene Khamba Monastery</strong>
                                        <br>The monastery was built in a sacred valley, according to Mongolian Buddhist traditions. Plus, the area is very similar to Manzshir Khiid and it belongs to the Khogno Khan Natural Reserve, a protected area. The Erdene Khamba Monastery was destroyed during Middle Age feuds between Western and Eastern Mongolians (Dzungaria and Khalkh Mongolia) after the collapse of the Mongol Empire. The armies of Dzungarian leader Galdan Boshigt noticed the golden roofs of the temples in Khogno Khan Mountain and massacred the partisan-monks of the rival Zanabazar in 1640, killing them by tying their necks with a rope (the Mongolian verb for the action is khognokh) as if they were goats and sheep. Later on, the Soviet troops, based in Mongolia during the 1970-80s, added a few bullets to the ruins during their outdoor trainings. The surrounding area is excellent for hiking and trekking.
                                    </p>
                                    <p><strong><em>Overnight at ger camp<br/> Meals: Breakfast, Lunch, and Dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">July 22 - Day 4 Rural Naadam Festival in Karakorum</div>
                                <div class="box_content">
                                    <p>During whole lovely day you enjoy watch Naadam festival or three manly sports such as wrestling, archery and horse racing. Visit opening ceremony of Naadam festival at the national stadium. And you will see archery, wrestling and horse racing during Naadam festival. Naadam festival is of the victory of the People’s Revolution. Mongolia celebrates its independence and its rich cultural heritage with a festival of sports and revelry in Ulaanbaatar. The distinctly Mongolian feel and flair of the Naadam Festival make it a wonderful spectacle, a joyous time, and an intriguing cultural event. Colorful ceremonies and parading soldiers kick off the celebrations. The ancient game of wrestling follows, with men competing in many rounds of competition. Both men and women compete in the archery games, using the traditional Mongolian compound bow that terrorized Europe when Genghis Khan and his Golden Horde moved their empire west. The quintessentially Mongolian art of horse racing follows, where up to 800 horses compete, jockeyed by children so that the skill of the horse, and not the rider, is tested.</p>
                                    <p><strong><em>Meals: Breakfast, Lunch, Dinner <br/> Overnight in the Ger Camp</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">July 23 - Day 5 Karakorum – Erdene Zuu Monastery  </div>
                                <div class="box_content">
                                    <p>In Karakorum, we will visit Erdene-Zuu, the oldest monastery, with 108 stupas, built in 1586. The monastery was built of the remains of the ancient Mongolian capital. Ancient capital of Mongolia Karakorum city was located on the right bank of Orkhon River and on the north-eastern slopes of the Khangai Mountain and founded by Chinggis khan in 1220, was not only the capital of the vast Mongolian Empire but the epicenter of trade along the Silk Road. At that time the inhabitants of city were mostly Merchants craftsmen who came to Karakorum from all over the world. As Kublai khan moved the capital of the Mongolian Empire to China, establishing the Yuan Dynasty, began losing its importance. In 1379 much of the city was badly damaged during an attack by the army of the Min Dynasty.
                                        <br>  Erdene Zuu Monastery was built by Avtai Sain Khan on the ruin of the Mongolian capital Karakorum in 1586. It was the first great Buddhist Monastery of Mongolia. It is part of the World Heritage Site entitled Orkhon Valley Cultural Landscape. Stones from the ruins of Karakorum were used in construction. It is surrounded by a wall featuring 108 stupas, 108 being a sacred number in Buddhism, and the number of beads in a Buddhist rosary. The monastery was damaged by warfare in the 1680s, but was rebuilt in the 18th century and by 1872 had a full 62 temples inside. The Erdene Zuu Monastery was taken to state protection and became museum in 1944.
                                        <br> Next, we will visit the Karakorum Museum and see the Great Mongol state period, Stone Age, Bronze Age, Ancient state period halls.
                                    </p>
                                    <p><strong><em> Meals: Breakfast, Lunch, Dinner<br/> Overnight in the Ger Camp	</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">July 24 - Day 6 Karakorum to Ongi Temple  </div>
                                <div class="box_content">
                                    <p>Today you'll drive to the ruins of the Ongi monastery. It was the largest Buddhist center in the Gobi region. There are 2 complexes of temple ruins which were built up in 1780s. During political repression in 1930s’ these two temples were destroyed and many lamas were executed and imprisoned. Visit Ruin of monastery reconstructed parts. On the way visit basin of the Ongi river which is dried out because of mining activity.</p>
                                    <p><strong><em> Overnight in Ger camp, <br/>Meals: Breakfast, lunch and dinner </em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">July 25 - Day 7 Ongi Temple to Bayanzag (The Flaming Cliffs)</div>
                                <div class="box_content">
                                    <p>After breakfast, we leave Hongoryn Els for Bayanzag. It's a long day drive today and can take up to 5 hours but it's a scenic drive through the vast land. We will occasionally stop for photography and to watch the birds and the animals of the area. We check in our camp, wash and change and after lunch, we drive to visit the Flamming Cliff. The place was named as 'Flaming Cliffs' by Roy Chapman Andrews, an American explorer who searched throughout the Mongolian Gobi Desert and found dinosaur skeleton and eggs for the first time in Asia. The red cliff gleams with sunlight and can be seen from far away. We will take a short walk on the ridge of the cliff and look for the pieces of Dinosaur bones. We will drive little further to see the saxaul trees that contributed the name Bayanzag. Bayanzag means-rich in saxaul. </p>
                                    <p><strong><em>Overnight in the Ger Camp <br/>Meals: Breakfast, lunch and dinner	 </em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">July 26-27 Day 8-9 Drive to Hongoryn Els (Approximately 4 hours by 4 WD)</div>
                                <div class="box_content">
                                    <p> Following breakfast, we set out on our 4WD vehicle to the towering sand dunes of Hongoryn Els, which run for 60 miles alongside the Gobi-Altai Mountain range. These “Singing Sands,” which stand up to 2,500 feet, are probably the Gobi’s most impressive sand dunes. Isolated from the rest of the country, the Singing Sands are the best kept secret for thousand years in the history of Mongolia.
                                        <br> We check in our camp. After wash and change, we enjoy our lunch. After some lunch, we are transferred to the foot of the Sand Dunes. The dunes seem to stretch on forever like a soft ribbon of sand draped over the desert. The shifting sand blown by the wind or someone makes sound so it is called Singing Sand Dunes. There is a beautiful green oasis known as Seruun bulag near the Khongor River. After that, we will visit a local nomad family. We will be invited inside their ger (tent) and we will have opportunity to understand their lifestyle. The family may welcome you to try camel’s milk and homemade cookies.
                                        <br>  Today, approximately half of Mongolia’s population is still roaming the vast plains living in the ger and moving their camping several times a year on the grounds with no fence. Nomadic life thrives in summer and survives in winter. Considering climatic conditions, especially during winter, such lifestyle may seem to the outside world to be a very hard way of living. However, Mongolians have developed for centuries such qualities as strength and resilience that are essential for survival in this harsh nature, which is their cherished homeland.
                                        <br>  The family also rents out Bactrian Camels for fun ride around. Your guide can negotiate the price for you. From here, we return to our camp and take the rest of day at leisure.
                                    </p>
                                    <p><strong><em> Overnight in the Ger Camp <br/> Meals: Breakfast, lunch and dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">July 28 Day 10 Khongor Sand Dune to Yol Valley and Gurvansaikhan National Park </div>
                                <div class="box_content">
                                    <p>This morning we drive through vast steppe to the Gobi, Mongolia’s southernmost province of semi-arid desert. Meet your local guide and driver and then transfer by 4WD vehicle to the Yol Valley in Gurvansaikhan National Park, situated in the lap of Altai Mountains. On the way to our lodge, we stop to visit the local Natural History Museum for an insight to the flora and fauna of the area.
                                        <br>  We will take a short hike to the Yolyn Am, also called Vultures Canyon, which is a deep and narrow gorge in the Gurvan Saikhan Mountains of southern Mongolia. The area, as part of the Gobi Desert, sees little precipitation, is the habitat of indigenous vulture-like lammergeyers, Altai snow cocks, ibex, yaks, and Argali mountain sheep. However, Yolyn Am is notable for a deep ice field. The ice field reaches several meters thick by the end of winter, and is several kilometers long. In past years it remained year round, but the modern ice field tends to disappear by September. If you do not wish to hike, you can rent a horse for $7-8. Those who are not hiking or riding horse are requested be patient and enjoy yourself!
                                        <br> After visiting the canyon, you are transferred to the camp and rest of the day is open for rest.
                                    </p>
                                    <p><strong><em> Overnight in the Ger Camp, Sand dune <br/> Meals: Breakfast, lunch and dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">July 29 - Day 11 Flight to Ulaanbaatar</div>
                                <div class="box_content">
                                    <p>Drive to Ongi temple. The ruins of Ongi Temple are found in Saikhan Ovoo soum of Dundgobi (Middle Gobi) province. It used to be a big Buddhist monastery compound built by Bari Yonzon Khamba at the bank of Ongi River. Transfer to the camp before the lunch. Visit the ruins of temple also there is small ger museum signifies ancient things.                                    </p>
                                    <p><strong><em>Overnight in 4* camp<br/> Meals: Breakfast, lunch and dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">July 30 - Day 12 Moron / Hovsgol Lake</div>
                                <div class="box_content">
                                    <p>After an early breakfast at the hotel, fly into Moron, the center of the Hovsgol province. From Moron, you will be driven to the base camp at Lake Hovsgol (approx. 70 miles). With an area of 1,012 sq. miles lying near the Russian border, Hovsgol is Mongolia’s largest freshwater lake. It is more than 800 feet deep and more than a mile above sea level. The remainder of the day is at your leisure. Overnight at the camp </p>
                                    <p><strong><em> Overnight in Ger camp<br/> Meals: Breakfast, lunch and dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">July 31 - Day 13 Hovsgol Lake Hiking and Wildlife</div>
                                <div class="box_content">
                                    <p>After breakfast at the camp you will have a full day to explore the breathtaking shores of this beautiful lake.  There is ample opportunity to discover the local nomadic lifestyle. You can plan hiking and photo ventures along the shorelines, which are excellent habitats for wildlife and birds.
                                        <br> Walking and hiking in the lake shores, Horse riding trek near the lake, visiting yak breeding family and experience their unique lifestyle
                                    </p>
                                    <p><strong><em> Overnight in the Ger Camp<br/> Meals: Breakfast, lunch and dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Aug 1 - Day 14 Moron to Ulaan Baatar, </div>
                                <div class="box_content">
                                    <p>Drive to airport after breakfast. Take the flight back to Ulaanbaatar and transfer to hotel.
                                        <br>  Visit the Bogd Khaan Winter Palace Museum. The Bogdo Khaan Winter Palace is the home of the last Mongolian King, Javzun Damba Khutagt. In the afternoon free time do shopping for cashmere shop, souvenir shop and State Department Store. Enjoy watch national folklore performance by “Tumen Ekh” national song, throat singing, tsam mask dance and so on. A farewell dinner and stay overnight in hotel.
                                    </p>
                                    <p><strong><em> Meals: Breakfast, Lunch, Dinner<br/> lodging: 4 star hotel</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Aug 2 - Day 15 Departure</div>
                                <div class="box_content">
                                    <p>Check out from the hotel and transfer to the “Chinggis Khan” International airport for departure. </p>
                                    <p><strong><em> Meals: Breakfast<br/> </em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            {# buttons #}
                            <a class="btn btn_default" href="{{ path('booking') }}"><span>BOOK TRIP</span></a>
                            {{ include('Tour/_send_to_a_friend.html.twig') }}
                            {#<a class="btn btn-info" href="{{ path('request_quote',{'slug':slug}) }}">REQUEST A QUOTE</a>#}
                            {% if tour.pdf is defined and tour.pdf is not null %}
                                <a class="btn btn_cyan" href="{{ path('download_pdf',{'slug':tour.pdf}) }}"><span>DOWNLOAD PDF</span></a>
                            {% else %}
                                <a class="btn btn_cyan" href="{{ path('request_quote',{'slug':slug}) }}"><span>REQUEST A QUOTE</span></a>
                            {% endif %}
                            <a class="btn btn_green" href="{{ path('catalog') }}"><span>REQUEST A CATALOG</span></a>
                            {#<a class="btn btn_violet" style="margin-top: 5px;" href="{{ path('request_airfare_quote') }}"><span>REQUEST AIRFARE QUOTE</span></a>#}
                            <a class="btn btn_turquoise" style="margin-top: 5px;" href="{{ path('request_a_callback') }}"><span>REQUEST A CALLBACK</span></a>
                            {{ include('Tour/_trip_advisor_button.html.twig') }}
                            <script type="text/javascript">var addthis_config = {'services' : 'facebook,twitter,email,more', "data_track_addressbar":true};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b596d25b76435f"></script>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ include('Tour/_tour_style.html.twig') }}
{% endblock %}