{% extends 'layout.html.twig' %}

{% block content %}
    <!-- header -->
    <div class="header header_thin" style="background-image:url(/images/slider3_mini.jpg)">

        <div class="header_title">
            <strong><span>Bird Watching Trip</span></strong>
        </div>

    </div>
    <!--/ header -->

    <!-- breadcrumbs -->
    <div class="middle_row row_white breadcrumbs">
        <div class="container">
            <p><a href="{{ path('homepage') }}">Home</a>  <span class="separator">&rsaquo;</span>
                <span class="current">Tours</span>  <span class="separator">&rsaquo;</span>
                <span class="current">Bird Watching Trip</span></p>
        </div>
    </div>
    <!--/ breadcrumbs -->

    <!-- middle -->
    <div id="middle" class="cols2">
        <div class="container clearfix">

            <div class="sidebar">
                <div class="box">

                    <div class="widget-container widget_login">
                        <h2>Quick inquiry</h2>

                        <form method="post" action="{{ path('inquiry_send', {'slug':slug}) }}" class="loginform" novalidate>

                            <input type="hidden" name="tourName" value="{{ tour.name }}">
                            {% for message in app.session.getFlashBag.get('inquiry') %}
                                <mark style="padding: 10px;display: block;"> {{ message }}</mark>
                            {% endfor %}

                            <p><label>Your name</label><br>
                                {{ form_widget(form.name, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your email address</label><br>
                                {{ form_widget(form.email, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your phone number</label><br>
                                {{ form_widget(form.phone, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your message</label><br>
                                {{ form_widget(form.content, { 'attr': {'class': 'input', 'rows': '4'} }) }}</p>
                            <div style="display: none">
                                {{ form_widget(form.phone2, { 'attr': {'class': 'input'} }) }}
                            </div>

                            {{ form_rest(form) }}
                            <p class="submit">
                                <input type="submit" name="wp-submit" id="wp-submit" class="btn-submit" value="Send" tabindex="100">
                            </p>
                        </form>
                    </div>

                    <div class="widget-container subscribe_btn">
                        <div>
                            <a href="{{ path('page_show', {'slug':'trip-calendar-2020'}) }}"><img src="/images/group_travel_2020.jpg" alt="Join our group travel 2020"/></a>
                        </div>
                    </div>

                    {{ include('Tour/_catalog.html.twig') }}

                </div>
            </div>

            <!-- content -->
            <div class="content">
                <h2>Bird Watching Trip</h2>

            <article class="post-detail">
                <div class="entry">
                    <!-- carousel with images -->
                    <div class="minigallery_carousel">
                        <div class="carousel_content">
                            <ul id="minigallery3">
                                {% for slide in tour.slides1 %}
                                <li><a href="{{ slide }}" class="zoom" data-rel="prettyPhoto[mg_1]"><img src="{{ tour.slides2[loop.index-1] }}"></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <a class="prev" id="minigallery3_prev" href="#"><span>prev</span></a>
                        <a class="next" id="minigallery3_next" href="#"><span>next</span></a>
                    </div>
                    <script>
                        jQuery(document).ready(function($) {
                            $('#minigallery3').carouFredSel({
                                next : "#minigallery3_next",
                                prev : "#minigallery3_prev",
                                auto: false,
                                circular: false,
                                infinite: true,
                                width: '100%',
                                scroll: {
                                    items : 1
                                }
                            });
                        });
                    </script>
                    <!--/ carousel with images -->

                    <p>
                        In the heart of remote Central Asia lies a country that conjures up
                        images of nomadic horsemen striding across barren, wind-swept plains
                        with the grand Altai Mountains rising up above the endless expanse of
                        the Gobi Desert. This land is Mongolia, a country of fascinating legend
                        and history; a picturesque and awe-inspiring land largely unchanged over
                        the years, the heart of the once expansive Mongol Empire and a true
                        wilderness!
                    </p>
                    <p>
                        Our Mongolia birding escapade offers the very special opportunity of
                        venturing across the vast lake-covered steppes and through the verdant
                        Taiga forest with the ever-present backdrop of the lofty Altai
                        Mountains. We can look forward to superb birding in this gloriously
                        scenic landscape with mouth-watering specialties such as Altai Snowcock,
                        Relict Gull, Stejneger’s Scoter, Pallas’s Sandgrouse, Black Woodpecker,
                        Amur and Saker Falcons, spectacular Wallcreeper, White-naped and
                        Demoiselle Cranes, Kozlov’s Accentor, breeding flocks of Oriental
                        Plover, Mongolian Lark, Siberian Rubythroat, Saxaul Sparrow, Hodgson’s
                        Bushchat, Henderson’s Ground Jay and many more on offer. This really is
                        a birding trip like few others and promises to be a most memorable
                        adventure!
                    </p>
                </div>
            </article>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ include('Tour/_tour_style.html.twig') }}
{% endblock %}