{% extends 'layout.html.twig' %}

{% block content %}

    <!-- header -->
    <div class="header header_thin" style="background-image:url(/images/slider3_mini.jpg)">

        <div class="header_title">
            <strong><span>{{ tour.name }}</span> ({{ tour.duration2 }})</strong>
        </div>

    </div>
    <!--/ header -->

    <!-- breadcrumbs -->
    <div class="middle_row row_white breadcrumbs">
        <div class="container">
            <p><a href="{{ path('homepage') }}">Home</a>  <span class="separator">&rsaquo;</span>
                <span class="current">Tours</span>  <span class="separator">&rsaquo;</span>
                <span class="current">{{ tour.name }}</span></p>
        </div>
    </div>
    <!--/ breadcrumbs -->

    <!-- middle -->
    <div id="middle" class="cols2 sidebar_left">
        <div class="container clearfix">
            <!-- content -->
            <div class="content">
                <h2>{{ tour.name }} ({{ tour.duration2 }})</h2>
                <!-- content slider: slider_medium -->
                <div class="slider slider_medium">
                    <div class="slider_container clearfix" id="slider4">
                        {% for slide in tour.pictures %}
                            <div class="slider-item"><img src="{{ slide }}" alt="{{ tour.name }}"></div>
                        {% endfor %}
                    </div>
                    <div class="slider_pagination" id="slider4_pag"></div>
                </div>
                <script>
                    jQuery(document).ready(function($) {
                        $('#slider4').carouFredSel({
                            pagination : "#slider4_pag",
                            infinite: true,
                            auto: true,
                            height: "auto",
                            items: 1,
                            scroll: {
                                fx: "fade",
                                duration: 2000
                            }
                        });
                    });
                </script>
                <!-- content slider: medium_small -->
                <div class="">
                    <div class="post-item">
                        <div class="post-aside clearfix">
                            <div class="entry">
                                {{ tour.overview |raw }}
                            </div>

                            {# buttons #}
                            <a class="btn btn_default" href="{{ path('booking') }}"><span>BOOK TRIP</span></a>
                            <a class="btn btn_blue addthis_button_email" title="Send to a friend"><i class="icon icon-envelope-alt"></i> <span>SEND TO A FRIEND</span></a>
                            {#<a class="btn btn-info" href="{{ path('request_quote',{'slug':slug}) }}">REQUEST A QUOTE</a>#}
                            {% if tour.pdf is defined and tour.pdf is not null %}
                                <a class="btn btn_cyan" href="{{ path('download_pdf',{'slug':tour.pdf}) }}"><span>DOWNLOAD PDF</span></a>
                            {% else %}
                                <a class="btn btn_cyan" href="{{ path('request_quote',{'slug':slug}) }}"><span>REQUEST A QUOTE</span></a>
                            {% endif %}
                            <a class="btn btn_green" href="{{ path('catalog') }}"><span>REQUEST A CATALOG</span></a>
                            <a class="btn btn_violet" style="margin-top: 5px;" href="{{ path('request_airfare_quote') }}"><span>REQUEST AIRFARE QUOTE</span></a>
                            <a class="btn btn_turquoise" style="margin-top: 5px;" href="{{ path('request_a_callback') }}"><span>REQUEST A CALLBACK</span></a>

                            <h2 style="color: #B28E1B; margin-top: 20px; ">DETAILED TOUR ITINERARY</h2>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 1 Ulaanbaatar (City tour)</div>
                                <div class="box_content">
                                    <p>Arrive at Ulaanbaatar. Meet your Guide at the airport and transfer to the hotel. We will star city tour the first stop is Sukhbaatar Square, the central square named after the revolutionary hero of 1921 Damdiny Sukhbaatar who declared independence from China. We visit Gandan Monastery the largest and most famous functioning monastery in Mongolia; here we may experience monks in worship and see the impressive Golden Buddha Statue of Migjid Janraisig. Time permitting Natural History Museum which is famous for its authentic dinosaur skeletons and and visit Zaisan memorial hill to view of whole city from there. Welcome dinner at restaurant and stay overnight in hotel. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 2 Ulaanbaatar to Karakorum (Erdenezuu monastery)</div>
                                <div class="box_content">
                                    <p>Early morning drive to Karakorum and arrive late afternoon, on the way picnic.  Ancient capital of Mongolia Karakorum city was located on the right bank of Orkhon River and on the north-eastern slopes of the Khangai Mountain and founded by Chinggis khan in 1220, was not only the capital of the vast Mongolian Empire but the epicentre of trade along the Silk Road. At that time the inhabitants of city were mostly Merchants craftsmen who came to karakorum from all over the world. Khubilai khan moved to the capital of the Mongolian Empire to China, establishing the Yuan Dynasty, began losing its importance.  In 1379 much of the city was badly damaged during an attack by the army of the Min Dynasty. Stay overnight in ger at tourist camp. (B, L, D)</p>
                                    <p><strong>Erdene Zuu monastery</strong></p>
                                    <p>Erdene zuu monastery was built by Avtai Sain Khan on the ruin of the Mongolian capital Karakorum in 1586. It was the first great Buddhist Monastery of Mongolia. It is part of the World Heritage Site entitled Orkhon Valley Cultural Landscape. Stones from the ruins of Karakorum were used in construction. It is surrounded by a wall featuring 108 stupas, 108 being a sacred number in Buddhism, and the number of beads in a Buddhist rosary. The monastery was damaged by warfare in the 1680s, but was rebuilt in the 18th century and by 1872 had a full 62 temples inside. The Erdene Zuu Monastery was taken to state protection and became museum in 1944.</p>
                                    <p><strong>Visit shankh monastery:</strong>Shankh is the oldest monastery in Mongolia, founded in 1647 by Zanabazar (1635-1723), a revered sculptor, politician, religious teacher, diplomat and living Buddha, who became Mongolia's first Bogd Khan (God King). Known as the West Monastery, it was one of the foremost seats of Buddhist teaching and practice in the country for almost three centuries. At its height, Shankh consisted of several schools specialized in Tantric rituals, particularly the Kalachakra, philosophy and astrology. It housed over 1,500 monks and served the religious, medical and educational needs of the region.</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 3 Karakorum (Erdenezuu monastery) to Orkhon Waterfall, Tuvkhun Monastery</div>
                                <div class="box_content">
                                    <p>In the morning we will drive to Orkhon Waterfall. Water falls from a height of 20 meters at Orkhon Waterfall, which is locally known as Ulaan Tsutgalan. Have a lunch on the way then continue to drive to Tuwkhun monastery which is founded by Zanabazar. This attractive landscape is registered as WORLD HERITAGE PLACE from UNESCO. Stay overnight in ger at tourist camp. (B, L, D)</p>
                                    <p><strong>Tuvkhun Monastery</strong></p>
                                    <p>The creation work temple established by Undur Gegeen Zanabazar in 1654 dedicated to religious study and art works became the foundation of today’s Tuvkhun Monastery. It is located on a rocky mountain hill surrounded by forests elevated in 2300 meters above sea level. In 1651, the first religious statesman Zanabazar built a small stony building and he created Soyombo letters in the building. The monastery is located in natural rocky landscape where there is a small cave named “Mother’s abdomen”. The Mongols still protect this unique place as naming it as a “Country of Mahagal”. These monuments were created during the war between Khalkh and Uuld and the the Door of Great Pleasure is a tunnel dug through the mountain. During the war the Under Gegeen escaped through this tunnel and intentionally closed the hole by a big stone. The monastery was taken under the state protection in 1992.</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title"></div>
                                <div class="box_content">
                                    <p></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 4 Orkhon Waterfall to Tsenkher hot spring</div>
                                <div class="box_content">
                                    <p>Drive to Tsenkher hot spring pass Tuvkhun monastery which was founded by Zanabazar. Transfer to camp, enjoy bath hot spring at the area of resort. Stay overnight in ger at tourist camp. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 5 Tsenkher hot spring to Terkhiin tsagaan lake (Volcano)</div>
                                <div class="box_content">
                                    <p>Early in the morning drive to Terkhiin tsagaan Lake. On the way we will make a short stop in Tsetserleg capital of Arkhangai visit Zaya Gegeenii huree museum and then continue drive to lake. On the way visit Taikhar Rock. Before dinner you transfer to the camp and stay overnight in ger at tourist camp. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 6 Terkhiin tsagaan Lake to Jargal jiguur</div>
                                <div class="box_content">
                                    <p>Have a breakfast and lunch at the tourist camp. There is a horse riding available at the National park. Afterwards drive to Jargal jiguur. Stay overnight in ger at the tourist camp.</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 7 Jargal jiguur to Murun province</div>
                                <div class="box_content">
                                    <p>Early in the morning drive to Murun province through beautiful landscapes. Packed lunch on the way. Stay overnight in hotel. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 8 Murun province to Khuvsgul National Park</div>
                                <div class="box_content">
                                    <p>Drive to Khusgul Lake and transfer to the camp. In the afternoon you visit with yak breeding family. Stay overnight in ger at toursit camp. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 9 Discover Khuvsgul National park</div>
                                <div class="box_content">
                                    <p>During whole lovely day, you have an opportunity to ride reindeer and observe them. Kayak trip on the lake. Khuvsgul Lake is reckoned among the purest fresh water lakes in the world. Khuvsgul Lake is the second deepest lake in Central Asia and contains 60% as much water as Lake Baikal. Depth of Khuvsgul Lake is 262 meters and 136 kilometers long. In the afternoon we will visit shaman people. Stay overnight in ger at the tourist camp. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 10 Khuvsgul National park to Murun Province</div>
                                <div class="box_content">
                                    <p>Drive to Murun Province packed lunch on the way. Stay overnight in local hotel. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 11 Murun Province to Uran Togoo Volcano</div>
                                <div class="box_content">
                                    <p>Today, we will make our way to travel Uran Togoo Volcano. We will have picnic in the nature. Stay overnight in ger at the tourist camp. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 12 Uran Togoo Volcano to Amarbayasgalant monastery</div>
                                <div class="box_content">
                                    <p>After breakfast drive to Amarbayasgalant through the Erdene city which is the biggest city in Mongolia make a short stop there. Late in the afternoon visit with monastery that’s located in Selenge province, northwest of Mongolia, the biggest monastery in Mongolia after Erdene zuu monastery. Stay overnight in ger at the tourist camp. (B, L, D)</p>
                                    <p><strong>Amarbayasgalant monastery</strong></p>
                                    <p>The monastery was established by order of Manju emperor Enkh- Amgalan Khan, to cherish and give respect to the Undur Geghen Zanabazar, his skills, wisdom, intellect and accomplishments.
                                        One hundred thousand langs (=3730 kg) of silver from the state fund were used to build a magnificently styled place for Buddha teaching and practice in honor of Zanabazar. After searching for a suitable place, the construction works of the monastery called “Amarbayasgalant ‘’, a palace for God `s meditation, began in the year of red horse, 1726, and was completed in the year of red dragon, 1736. Out of deep respect the monastery was then offered to the Undur Geghen.</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 13 Amarbayasgalant monastery to Ulaanbaatar</div>
                                <div class="box_content">
                                    <p>Drive back to Ulaanbaatar, transfer to the hotel and do shopping including State department store and cashmere shops. Enjoy watch national folklore performance by “Tumen Ekh” national song, throat singing, tsam mask dance and so on. A farewell dinner and stay overnight in hotel.</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 14 Departure</div>
                                <div class="box_content">
                                    <p>Check out from hotel and transfer to Chinggis Khaan International airport or Ulaanbaatar train station for departure</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            {# buttons #}
                            <a class="btn btn_default" href="{{ path('booking') }}"><span>BOOK TRIP</span></a>
                            <a class="btn btn_blue addthis_button_email" title="Send to a friend"><i class="icon icon-envelope-alt"></i> <span>SEND TO A FRIEND</span></a>
                            {#<a class="btn btn-info" href="{{ path('request_quote',{'slug':slug}) }}">REQUEST A QUOTE</a>#}
                            {% if tour.pdf is defined and tour.pdf is not null %}
                                <a class="btn btn_cyan" href="{{ path('download_pdf',{'slug':tour.pdf}) }}"><span>DOWNLOAD PDF</span></a>
                            {% else %}
                                <a class="btn btn_cyan" href="{{ path('request_quote',{'slug':slug}) }}"><span>REQUEST A QUOTE</span></a>
                            {% endif %}
                            <a class="btn btn_green" href="{{ path('catalog') }}"><span>REQUEST A CATALOG</span></a>
                            <a class="btn btn_violet" style="margin-top: 5px;" href="{{ path('request_airfare_quote') }}"><span>REQUEST AIRFARE QUOTE</span></a>
                            <a class="btn btn_turquoise" style="margin-top: 5px;" href="{{ path('request_a_callback') }}"><span>REQUEST A CALLBACK</span></a>
                            <script type="text/javascript">var addthis_config = {'services' : 'facebook,twitter,email,more', "data_track_addressbar":true};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b596d25b76435f"></script>

                        </div>
                    </div>
                </div>
            </div>

            <!-- sidebar -->
            <div class="sidebar">
                <div class="box">

                    <!-- widget_categories -->
                    <div class="widget-container widget_categories">
                        <h3 class="widget-title">Trip snapshot</h3>
                        <b style="color: #B28E1B">Tour length:</b> <span>{{ tour.duration2 }}</span>
                        <br/>
                        <b style="color: #B28E1B">Available time:</b> <span>{{ tour.availableTime }}</span>
                        <br/>
                        <b style="color: #B28E1B">Region:</b> <span>{{ tour.region }}</span>
                        <br/>
                        <b style="color: #B28E1B">Price:</b> <span>$3350 for 2-5 PAX</span>
                        <br/>{#
                        <span style="font-weight: bold; color: brown"><a
                                    href="http://www.travelallmongolia.com/contact/form">
                                Contact us for Early Booking Discount</a></span>
                        <br/>#}
                        {#<span style="font-weight: bold; color: brown">Save $200 BOOK by Dec 31, 2017</span>
                        <br/>#}
                        <b style="color: #B28E1B">Single supplement:</b> <span>$550</span>
                        <br/>
                        If you are traveling alone and wish to share a room with another participant, we will try to find a roommate for you

                        {# early booking banner #}
                        {% if app.show_early_booking_banner %}
                            <a href="#!" data-rel="prettyPhoto" title="Travel map" hidefocus="true" rel="prettyPhoto" style="outline: none;">
                                <img src="/images/early-booking-banner.png" width="380" class="frame_box"/></a>
                        {% endif %}
                    </div>
                    <!--/ widget_categories -->

                    <!-- widget_categories -->
                    <div class="widget-container widget_categories">
                        <h3 class="widget-title">Travel map</h3>
                        <a href="{{ tour.mapLarge }}" data-rel="prettyPhoto" title="Travel map" hidefocus="true" rel="prettyPhoto" style="outline: none;"><img src="{{ tour.map }}" width="380" class="frame_box"/></a>
                    </div>
                    <!--/ widget_categories -->

                    <!-- widget_recent_comments -->
                    <div class="widget-container widget_popular">
                        <h3 class="widget-title">Highlights</h3>
                        <ul>
                            {% for highlight in tour.highlights %}
                            <li><a href="javascript:;">{{ highlight }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--/ widget_recent_comments -->

                    {{ include('Tour/_discount.html.twig') }}

                    <!-- login widget -->
                    <div class="widget-container widget_login">
                        <h2>Quick inquiry</h2>

                        <form method="post" action="{{ path('inquiry_send', {'slug':slug}) }}" class="loginform" novalidate>

                            <input type="hidden" name="tourName" value="{{ tour.name }}">
                            {% for message in app.session.getFlashBag.get('inquiry') %}
                                <mark style="padding: 10px;display: block;"> {{ message }}</mark>
                            {% endfor %}

                            <p><label>Your name</label><br>
                                {{ form_widget(form.name, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your email address</label><br>
                                {{ form_widget(form.email, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your phone number</label><br>
                                {{ form_widget(form.phone, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your message</label><br>
                                {{ form_widget(form.content, { 'attr': {'class': 'input', 'rows': '4'} }) }}</p>
                            <div style="display: none">
                                {{ form_widget(form.phone2, { 'attr': {'class': 'input'} }) }}
                            </div>

                            {{ form_rest(form) }}
                            <p class="submit">
                                <input type="submit" name="wp-submit" id="wp-submit" class="btn-submit" value="Send" tabindex="100">
                            </p>
                        </form>
                    </div>
                    <!--/ login widget -->

                    <!-- subscribe buttons -->
                    <div class="widget-container subscribe_btn">
                        {#<mark style="padding: 10px;display: block;">OFFER 10% May sale discount</mark>
                        <br/>#}
                        <div>
                            <a href="{{ path('page_show', {'slug':'trip-calendar-2017'}) }}"><img src="/images/group_travel_2017.jpg" alt="Join our group travel 2017"/></a>
                        </div>
                    </div>
                    <!--/ subscribe buttons -->

                </div>

                <div class="sb sb_dark">
                    <div class="box_title">Included</div>
                    <div class="box_content">
                        <div class="entry">
                            <div class="list_check">
                                <ul>
                                    <li>Shared accommodation in ger camp</li>
                                    <li>All meals as listed in itinerary</li>
                                    <li>All entrance fees</li>
                                    <li>Sightseeing as per itinerary</li>
                                    <li>Accommodation in 4 stars hotel in Ulaanbaatar (twin standard room double occupancy)</li>
                                    <li>Transportations by 4WD vehicles</li>
                                    <li>English speaking guide (other language guide on request)</li>
                                    <li>Daily supply of bottled water</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="sb sb_dark">
                    <div class="box_title">Not included</div>
                    <div class="box_content">
                        <div class="entry">
                            <div class="list_delete">
                                <ul>
                                    <li>International airfare</li>
                                    <li>Travel insurance</li>
                                    <li>Beverages</li>
                                    <li>Optional activity cost</li>
                                    <li>Excess baggage charge</li>
                                    <li>Single room supplement</li>
                                    <li>Any additional things which are not mentioned above</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="sb sb_blue">
                    <div class="box_title">Testimonial</div>
                    <div class="box_content">
                        <div class="slider_quotes" style="margin-top: 45px;">
                            <div class="slider-item">
                                {% if tour.testimonial is defined %}
                                    <div class="quote-text">
                                        {{ tour.testimonial|raw }}
                                    </div>
                                {% else %}
                                    <div class="quote-text">
                                        <strong>Hello Soyoloo</strong><br/><p>Just want to thank you for your wonderful hospitality and expert tour guiding during our trip to Mongolia.  We loved visiting the Husai National Park and exploring the city of Ulaanbaatar.  Our favorite part of the trip was seeing the beautiful countryside and encountering wild horses, camels and eagles.
                                            Thank you so much for showing us around and making sure our trip was a success.  We also enjoyed our driver, Zoloo.  Look forward to planning our next adventure with you.
                                        </p></div>
                                    <div class="quote-author">
                                        <strong>Lisa Berkman, Tour group from USA</strong>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                {{ include('Tour/_catalog.html.twig') }}

            </div>
            <!--/ sidebar -->
        </div>
    </div>
{% endblock %}