{% extends 'layout.html.twig' %}

{% block content %}

    <!-- header -->
    <div class="header header_thin" style="background-image:url(/images/slider3_mini.jpg)">

        <div class="header_title">
            <strong><span>{{ tour.name }}</span> ({{ tour.duration2 }})</strong>
        </div>

    </div>
    <!--/ header -->

    <!-- breadcrumbs -->
    <div class="middle_row row_white breadcrumbs">
        <div class="container">
            <p><a href="{{ path('homepage') }}">Home</a>  <span class="separator">&rsaquo;</span>
                <span class="current">Tours</span>  <span class="separator">&rsaquo;</span>
                <span class="current">{{ tour.name }}</span></p>
        </div>
    </div>
    <!--/ breadcrumbs -->

    <!-- middle -->
    <div id="middle" class="cols2 sidebar_left">
        <div class="container clearfix">
            <!-- content -->
            <div class="content">
                <h2>{{ tour.name }} ({{ tour.duration2 }})</h2>
                <!-- content slider: slider_medium -->
                <div class="slider slider_medium">
                    <div class="slider_container clearfix" id="slider4">
                        {% for slide in tour.pictures %}
                            <div class="slider-item"><img src="{{ slide }}" alt="{{ tour.name }}"></div>
                        {% endfor %}
                    </div>
                    <div class="slider_pagination" id="slider4_pag"></div>
                </div>
                <script>
                    jQuery(document).ready(function($) {
                        $('#slider4').carouFredSel({
                            pagination : "#slider4_pag",
                            infinite: true,
                            auto: true,
                            height: "auto",
                            items: 1,
                            scroll: {
                                fx: "fade",
                                duration: 2000
                            }
                        });
                    });
                </script>
                <!-- content slider: medium_small -->
                <div class="">
                    <div class="post-item">
                        <div class="post-aside clearfix">
                            <div class="entry">
                                {{ tour.overview |raw }}
                            </div>

                            {# buttons #}
                            <a class="btn btn_default" href="{{ path('booking') }}"><span>BOOK TRIP</span></a>
                            <a class="btn btn_blue addthis_button_email" title="Send to a friend"><i class="icon icon-envelope-alt"></i> <span>SEND TO A FRIEND</span></a>
                            {#<a class="btn btn-info" href="{{ path('request_quote',{'slug':slug}) }}">REQUEST A QUOTE</a>#}
                            {% if tour.pdf is defined and tour.pdf is not null %}
                                <a class="btn btn_cyan" href="{{ path('download_pdf',{'slug':tour.pdf}) }}"><span>DOWNLOAD PDF</span></a>
                            {% else %}
                                <a class="btn btn_cyan" href="{{ path('request_quote',{'slug':slug}) }}"><span>REQUEST A QUOTE</span></a>
                            {% endif %}
                            <a class="btn btn_violet" style="margin-top: 5px;" href="{{ path('request_airfare_quote') }}"><span>REQUEST AIRFARE QUOTE</span></a>
                            <a class="btn btn_turquoise" style="margin-top: 5px;" href="{{ path('request_a_callback') }}"><span>REQUEST A CALLBACK</span></a>

                            <h2 style="color: #B28E1B; margin-top: 20px; ">DETAILED TOUR ITINERARY</h2>

                            <div class="sb sb_brown">
                                <div class="box_title">Oct 5 - Day 1 Arrival in Ulaanbaatar</div>
                                <div class="box_content">
                                    <p>Upon arrival at Chinggis Khan International Airport, you are met by tour guide and transferred to the hotel in the city center.</p>
                                    <p>We will star city tour the first stop is Sukhbaatar Square, the central square
                                        named after the revolutionary hero of 1921 Damdiny Sukhbaatar who declared
                                        independence from China. We visit Gandan Monastery the largest and most famous
                                        functioning monastery in Mongolia; here we may experience monks in worship and
                                        see the impressive Golden Buddha Statue of Migjid Janraisig. Time permitting
                                        Natural History Museum which is famous for its authentic dinosaur skeletons and
                                        visit Zaisan memorial hill to view of whole city from there.</p>
                                    <p><strong><em>Overnight in 4* hotel<br />Meals: Breakfast, Lunch & Dinner </em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Oct 6 - Day 2 Flight from Ulaanbaatar to Ulgii & Explore Ulgii Town and Visiting Museum</div>
                                <div class="box_content">
                                    <p>Transfer to the airport for a morning flight to Ulgii (2.5 hours), capital of Bayan-
                                        Ulgii, Mongolia’s westernmost province. If the time permits, we will visit Ulgii
                                        town to explore local market. Ulgii (or Ölgii) is the capital of the Bayan-Ölgii
                                        Aimag (province) located in the extreme west of the country. It has an altitude
                                        of about 5,600 feet and population of about 29,000. It is the largest town in
                                        the area. It is the center of the predominately Kazakh region of Mongolia. The
                                        isolation of the Altai Mountains has preserved the language and traditions of
                                        the Kazakhs, wholive amongst some of the most spectacular scenery in Mongolia.
                                        We will visit Kazakh families in their settlement. Their Gers are slightly
                                        larger than Mongolian Gers, and are decorated with brightly colored rugs. We
                                        will enjoy their hospitality and friendliness and learn more in deep about their
                                        culture. You will see their traditional technology to make colorful rug.
                                        <br>A visit to the well regarded provincial museum should provide a good overview of the
                                        Muslim culture of Western Mongolia that differs so much from most of Mongolia.</p>
                                    <p><strong><em>Overnight in local hotel or ger camp<br />Meals: Breakfast, Lunch & Dinner </em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Oct 7 – Day 3 Golden Eagle Festival - Opening Ceremony / Competition</div>
                                <div class="box_content">
                                    <p>The official opening ceremony commences with the participants parading in on
                                        horseback with their eagles. The competition begins with each Kazakh displaying
                                        his hunting outfit and accessories, the most elaborate and beautiful of which
                                        receive the highest points. In the afternoon, the judges will evaluate the
                                        Golden Eagles’ speed and agility. The eagles will be released from a cliff with
                                        their owners standing below, signaling for the eagles to land upon their arms as
                                        they do while hunting. Those with the fastest times and best technique will be
                                        awarded the highest scores. In the evening, attend a Kazakh play in honor of the
                                        hunters and their eagles.</p>
                                    <p><strong><em>Overnight in local hotel or ger camp<br /> Meals: Breakfast, Lunch & Dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Oct 8 – Day 4 Golden Eagle Festivals & Awards Ceremony</div>
                                <div class="box_content">
                                    <p>The Golden Eagles will be released from a cliff to attack fox skins that will
                                        be dragged by their owner on horseback. The eagles will be judged on their
                                        success of grabbing the "fox", their speed, and "gripping" technique. As the
                                        points for the competitions are being tallied, the Kazakhs will compete in their
                                        traditional game called "kukbar"- passing goat skin which tests one's horse
                                        riding skills, strength and agility. In the late afternoon, the winners of the
                                        festival will be announced at the awards ceremony. In the evening, enjoy a
                                        celebration dinner.</p>
                                    <p><strong><em>Overnight in local hotel or ger camp<br />Meals: Breakfast, Lunch & Dinner </em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Oct 9 - Day 5 Visiting Eagle Hunting Family and explore their unique lifestyle</div>
                                <div class="box_content">
                                    <p>We will be visiting some of the nomads of the area and experiencing their unique
                                        lifestyle. Kazakh craftswomen are renowned for their colorful embroidery and
                                        textiles, and their gers are beautifully decorated. Handcrafted felt carpets
                                        line the floor, and delicately embroidered tapestries adorn the walls of their
                                        homes, with each design unique to a particular family. After meeting a Kazakh,
                                        you will be impressed by the generous hospitality expressed through expansive
                                        meals with many dishes and countless cups of milk tea and sweets. The herder
                                        will also demonstrate his horsemanship and training techniques which have been
                                        passed down from generation to generation.
                                        <br>The ger will be decorated with beautiful embroideries which are handmade by the skillful Kazakh women. The
                                        embroideries are truly works of art and display fine workmanship with beautiful
                                        colors and patterns.</p>
                                    <p><strong><em>Overnight in local hotel or ger camp<br /> Meals: Breakfast, Lunch & Dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Oct 10 - Day 6 Flight back to Ulaanbaatar, Hustai National Park</div>
                                <div class="box_content">
                                    <p>Following an early morning breakfast, you will be transferred back to the Ulgii
                                        Airport. We bid farewell to our drivers and fly to Ulaanbaatar where we meet our
                                        local transport for a 90-minute drive to Hustai National Park, which is world
                                        famous for the successful reintroduction of the Przewalski horse, called "takhi"
                                        by Mongolians. It became extinct in the wild in 1969 and, since 1992, has been
                                        successfully reintroduced to Hustai from zoos around the world. This has been an
                                        international effort monitored by The Foundation for the Przewalski horse, based
                                        in the Netherlands and MACNE (Mongolian Association for Conservation of Nature
                                        and the Environment).
                                        <br>Upon arrival in Hustai, you will check in at our ger camp. After lunch, you
                                        will take a jeep ride into the park. The national park is comprised of rolling
                                        Steppe Mountains with rather large patches of birch and aspen forests. There are
                                        also visible remains of Neolithic graves. In addition, red deer and wolf have
                                        increased quite a bit during the last few years, as well as Mongolian gazelle.
                                        Species present in Hustai but usually not seen include Lynx, Argali Sheep and
                                        Roe Deer. Usually,
                                        you are able to see the herds of wild horses grazing in the grasslands of the
                                        parks and other wild animals.
                                    </p>
                                    <p><strong><em>Overnight in local hotel or ger camp<br /> Meals: Breakfast, Lunch & Dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Oct 11 - Day 7 Hustai National Park to Ulaanbaatar</div>
                                <div class="box_content">
                                    <p>After breakfast, we will return to Ulaanbaatar. In the afternoon there is more to
                                        see here upon arrival if you are interested, such as a visit to the Bogd Khan
                                        Winter Palace Museum, a residence of Bodg Jabzan Damba Hutagt VIII whom
                                        was Mongolia's last theocrat. Or take a leisurely stroll through the town center.
                                        In the evening perhaps you can enjoy a farewell dinner and attend the local
                                        folklore dance shows.</p>
                                    <p><strong><em>Overnight in 4* hotel<br /> Meals: Breakfast, Lunch & Dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Oct 12 – Day 8 Departure</div>
                                <div class="box_content">
                                    <p>Check out from hotel and transfer to Chinggis Khaan International airport or
                                        Ulaanbaatar train station for departure.</p>
                                    <p><strong><em><br /> </em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            {# buttons #}
                            <a class="btn btn_default" href="{{ path('booking') }}"><span>BOOK TRIP</span></a>
                            <a class="btn btn_blue addthis_button_email" title="Send to a friend"><i class="icon icon-envelope-alt"></i> <span>SEND TO A FRIEND</span></a>
                            {#<a class="btn btn-info" href="{{ path('request_quote',{'slug':slug}) }}">REQUEST A QUOTE</a>#}
                            {% if tour.pdf is defined and tour.pdf is not null %}
                                <a class="btn btn_cyan" href="{{ path('download_pdf',{'slug':tour.pdf}) }}"><span>DOWNLOAD PDF</span></a>
                            {% else %}
                                <a class="btn btn_cyan" href="{{ path('request_quote',{'slug':slug}) }}"><span>REQUEST A QUOTE</span></a>
                            {% endif %}
                            <a class="btn btn_violet" style="margin-top: 5px;" href="{{ path('request_airfare_quote') }}"><span>REQUEST AIRFARE QUOTE</span></a>
                            <a class="btn btn_turquoise" style="margin-top: 5px;" href="{{ path('request_a_callback') }}"><span>REQUEST A CALLBACK</span></a>
                            <script type="text/javascript">var addthis_config = {'services' : 'facebook,twitter,email,more', "data_track_addressbar":true};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b596d25b76435f"></script>

                        </div>
                    </div>
                </div>
            </div>

            <!-- sidebar -->
            <div class="sidebar">
                <div class="box">

                    <!-- widget_categories -->
                    <div class="widget-container widget_categories">
                        <h3 class="widget-title">Trip snapshot</h3>
                        <b style="color: #B28E1B">Tour length:</b> <span>8 days, 7 nights</span>
                        <br/>
                        <b style="color: #B28E1B">Available time:</b> <span>{{ tour.availableTime }}</span>
                        <br/>
                        <b style="color: #B28E1B">Region:</b> <span>{{ tour.region }}</span>
                        <br/>
                        <b style="color: #B28E1B">Price:</b> <span>$2395</span>
                        <br/>{#
                        <span style="font-weight: bold; color: brown"><a
                                    href="http://www.travelallmongolia.com/contact/form">
                                Contact us for Early Booking Discount</a></span>
                        <br/>#}
                        {#<span style="font-weight: bold; color: brown">Save $200 BOOK by Dec 31, 2017</span>
                        <br/>#}
                        <b style="color: #B28E1B">Single supplement:</b> <span>$450</span>
                        <br/>
                        If you are traveling alone and wish to share a room with another participant, we will try to find a roommate for you

                        {# early booking banner #}
                        {% if app.show_early_booking_banner %}
                            <a href="#!" data-rel="prettyPhoto" title="Travel map" hidefocus="true" rel="prettyPhoto" style="outline: none;">
                                <img src="/images/early-booking-banner.png" width="380" class="frame_box"/></a>
                        {% endif %}
                    </div>
                    <!--/ widget_categories -->

                    <div class="widget-container widget_categories">
                        <h3 class="widget-title" style="margin-bottom:0;">Travel map</h3>
                    </div>
                    <a href="{{ tour.mapLarge }}" data-rel="prettyPhoto" title="Travel map" hidefocus="true" rel="prettyPhoto" style="outline: none;"><img src="{{ tour.map }}" width="380" class="frame_box"/></a>

                    <!-- widget_recent_comments -->
                    <div class="widget-container widget_popular">
                        <h3 class="widget-title">Highlights</h3>
                        <ul>
                            {% for highlight in tour.highlights %}
                            <li><a href="javascript:;">{{ highlight }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--/ widget_recent_comments -->

                    {{ include('Tour/_discount.html.twig') }}

                    <!-- login widget -->
                    <div class="widget-container widget_login">
                        <h2>Quick inquiry</h2>

                        <form method="post" action="{{ path('inquiry_send', {'slug':slug}) }}" class="loginform" novalidate>

                            <input type="hidden" name="tourName" value="{{ tour.name }}">
                            {% for message in app.session.getFlashBag.get('inquiry') %}
                                <mark style="padding: 10px;display: block;"> {{ message }}</mark>
                            {% endfor %}

                            <p><label>Your name</label><br>
                                {{ form_widget(form.name, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your email address</label><br>
                                {{ form_widget(form.email, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your phone number</label><br>
                                {{ form_widget(form.phone, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your message</label><br>
                                {{ form_widget(form.content, { 'attr': {'class': 'input', 'rows': '4'} }) }}</p>
                            <div style="display: none">
                                {{ form_widget(form.phone2, { 'attr': {'class': 'input'} }) }}
                            </div>

                            {{ form_rest(form) }}
                            <p class="submit">
                                <input type="submit" name="wp-submit" id="wp-submit" class="btn-submit" value="Send" tabindex="100">
                            </p>
                        </form>
                    </div>
                    <!--/ login widget -->

                    <!-- subscribe buttons -->
                    <div class="widget-container subscribe_btn">
                        {#<mark style="padding: 10px;display: block;">OFFER 10% May sale discount</mark>#}
                        <br/>
                        <div>
                            <a href="{{ path('page_show', {'slug':'trip-calendar-2017'}) }}"><img src="/images/group_travel_2017.jpg" alt="Join our group travel 2017"/></a>
                        </div>
                    </div>
                    <!--/ subscribe buttons -->

                </div>

                <div class="sb sb_dark">
                    <div class="box_title">Included</div>
                    <div class="box_content">
                        <div class="entry">
                            <div class="list_check">
                                <ul>
                                    <li>Private ger for every 2 people in Tourist camp </li>
                                    <li>All meals as listed in itinerary</li>
                                    <li>All entrance fees</li>
                                    <li>Sightseeing as per itinerary</li>
                                    <li>Accommodation in 4 stars hotel in Ulaanbaatar (twin standard room double occupancy)</li>
                                    <li>Transportations by 4WD vehicles</li>
                                    <li>English speaking guide (other language guide on request)</li>
                                    <li>Daily supply of bottled water, Domestic flight</li>
                                    <li>Cultural Show</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="sb sb_dark">
                    <div class="box_title">Not included</div>
                    <div class="box_content">
                        <div class="entry">
                            <div class="list_delete">
                                <ul>
                                    <li>International airfare</li>
                                    <li>Travel insurance</li>
                                    <li>Beverages</li>
                                    <li>Optional activity cost</li>
                                    <li>Excess baggage charge</li>
                                    <li>Single room supplement</li>
                                    <li>Any additional things which are not mentioned above </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="sb sb_blue">
                    <div class="box_title">Testimonial</div>
                    <div class="box_content">
                        <div class="slider_quotes" style="margin-top: 45px;">
                            <div class="slider-item">
                                {% if tour.testimonial is defined %}
                                    <div class="quote-text">
                                        {{ tour.testimonial|raw }}
                                    </div>
                                {% else %}
                                    <div class="quote-text">
                                        <strong>Hello Soyoloo</strong><br/><p>Just want to thank you for your wonderful hospitality and expert tour guiding during our trip to Mongolia.  We loved visiting the Husai National Park and exploring the city of Ulaanbaatar.  Our favorite part of the trip was seeing the beautiful countryside and encountering wild horses, camels and eagles.
                                            Thank you so much for showing us around and making sure our trip was a success.  We also enjoyed our driver, Zoloo.  Look forward to planning our next adventure with you.
                                        </p></div>
                                    <div class="quote-author">
                                        <strong>Lisa Berkman, Tour group from USA</strong>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                {{ include('Tour/_catalog.html.twig') }}

            </div>
            <!--/ sidebar -->
        </div>
    </div>
{% endblock %}