{% extends 'layout.html.twig' %}

{% block content %}

    <!-- header -->
    <div class="header header_thin" style="background-image:url(/images/slider3_mini.jpg)">

        <div class="header_title">
            <strong><span>{{ tour.name }}</span> ({{ tour.duration2 }})</strong>
        </div>

    </div>
    <!--/ header -->

    <!-- breadcrumbs -->
    <div class="middle_row row_white breadcrumbs">
        <div class="container">
            <p><a href="{{ path('homepage') }}">Home</a>  <span class="separator">&rsaquo;</span>
                <span class="current">Tours</span>  <span class="separator">&rsaquo;</span>
                <span class="current">{{ tour.name }}</span></p>
        </div>
    </div>
    <!--/ breadcrumbs -->

    <!-- middle -->
    <div id="middle" class="cols2 sidebar_left">
        <div class="container clearfix">
            <!-- content -->
            <div class="content">
                <h2>{{ tour.name }} ({{ tour.duration2 }})</h2>
                <!-- content slider: slider_medium -->
                <div class="slider slider_medium">
                    <div class="slider_container clearfix" id="slider4">
                        {% for slide in tour.pictures %}
                            <div class="slider-item"><img src="{{ slide }}" alt="{{ tour.name }}"></div>
                        {% endfor %}
                    </div>
                    <div class="slider_pagination" id="slider4_pag"></div>
                </div>
                <script>
                    jQuery(document).ready(function($) {
                        $('#slider4').carouFredSel({
                            pagination : "#slider4_pag",
                            infinite: true,
                            auto: true,
                            height: "auto",
                            items: 1,
                            scroll: {
                                fx: "fade",
                                duration: 2000
                            }
                        });
                    });
                </script>
                <!-- content slider: medium_small -->
                <div class="">
                    <div class="post-item">
                        <div class="post-aside clearfix">
                            <div class="entry">
                                {{ tour.overview |raw }}
                            </div>

                            {# buttons #}
                            <a class="btn btn_default" href="{{ path('booking') }}"><span>BOOK TRIP</span></a>
                            <a class="btn btn_blue addthis_button_email" title="Send to a friend"><i class="icon icon-envelope-alt"></i> <span>SEND TO A FRIEND</span></a>
                            {#<a class="btn btn-info" href="{{ path('request_quote',{'slug':slug}) }}">REQUEST A QUOTE</a>#}
                            {% if tour.pdf is defined and tour.pdf is not null %}
                                <a class="btn btn_cyan" href="{{ path('download_pdf',{'slug':tour.pdf}) }}"><span>DOWNLOAD PDF</span></a>
                            {% else %}
                                <a class="btn btn_cyan" href="{{ path('request_quote',{'slug':slug}) }}"><span>REQUEST A QUOTE</span></a>
                            {% endif %}
                            <a class="btn btn_green" href="{{ path('catalog') }}"><span>CATALOG</span></a>

                            <h2 style="color: #B28E1B; margin-top: 20px; ">DETAILED TOUR ITINERARY</h2>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 1 Ulaanbaatar (City tour)</div>
                                <div class="box_content">
                                    <p>Arrive at Ulaanbaatar. Meet your Guide at the airport and transfer to the hotel. We will star city tour the first stop is Sukhbaatar Square, the central square named after the revolutionary hero of 1921 Damdiny Sukhbaatar who declared independence from China. We visit Gandan Monastery the largest and most famous functioning monastery in Mongolia; here we may experience monks in worship and see the impressive Golden Buddha Statue of Migjid Janraisig. Time permitting Natural History Museum which is famous for its authentic dinosaur skeletons and and visit Zaisan memorial hill to view of whole city from there. Welcome dinner at restaurant and stay overnight in hotel. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 2 Ulaanbaatar Khuvsgul Lake (Murun province)</div>
                                <div class="box_content">
                                    <p>In the morning, fly to the capital of Khuvsgul province Murun. The flight takes one and a half hours. Drive to Khuvsgul national park. Transfer to the camp and lunch. Visit with yak breeding family. Stay overnight in ger at the tourist camp. (Ger means Mongolian traditional felt accommodation). (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 3 Discover Khuvsgul National park</div>
                                <div class="box_content">
                                    <p>During whole lovely day, you have an opportunity to ride reindeer and observe them. Kayak trip on the lake. Khuvsgul Lake is reckoned among the purest fresh water lakes in the world. Its surroundings right out of a fairytale. Khuvsgul Lake is the second deepest lake in Central Asia and contains 60% as much water as Lake Baikal. Depth of Khuvsgul Lake is 262 meters and 136 kilometers long.  Stay overnight in ger at the tourist camp. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 4 Khuvsgul National park to Khuvsgul Lake (Murun province)</div>
                                <div class="box_content">
                                    <p>In the morning we will drive to Murun province and transfer to local hotel where we will stay overnight. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 5 Khuvsgul Lake (Murun province) to Ulaanbaatar</div>
                                <div class="box_content">
                                    <p>We will fly back to Ulaanbaatar. Transfer to the hotel and lunch at the finest restaurant in Ulaanbaatar. In the afternoon free time do shopping for cashmere shop, souvenir shop and State Department Store. Enjoy watch national folklore performance by “Tumen Ekh” national song, throat singing, tsam mask dance and so on. A farewell dinner and stay overnight in hotel.</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 6 Departure</div>
                                <div class="box_content">
                                    <p>Check out from the hotel and transfer to the “Chinggis Khan” International airport or train station for departure. </p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            {# buttons #}
                            <a class="btn btn_default" href="{{ path('booking') }}"><span>BOOK TRIP</span></a>
                            <a class="btn btn_blue addthis_button_email" title="Send to a friend"><i class="icon icon-envelope-alt"></i> <span>SEND TO A FRIEND</span></a>
                            {#<a class="btn btn-info" href="{{ path('request_quote',{'slug':slug}) }}">REQUEST A QUOTE</a>#}
                            {% if tour.pdf is defined and tour.pdf is not null %}
                                <a class="btn btn_cyan" href="{{ path('download_pdf',{'slug':tour.pdf}) }}"><span>DOWNLOAD PDF</span></a>
                            {% else %}
                                <a class="btn btn_cyan" href="{{ path('request_quote',{'slug':slug}) }}"><span>REQUEST A QUOTE</span></a>
                            {% endif %}
                            <a class="btn btn_green" href="{{ path('catalog') }}"><span>CATALOG</span></a>
                            <script type="text/javascript">var addthis_config = {'services' : 'facebook,twitter,email,more', "data_track_addressbar":true};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b596d25b76435f"></script>

                            <!-- login widget -->
                            <div class="widget-container widget_login" style="width: 100%; margin-top: 10px;">

                                <form method="post" action="{{ path('inquiry_send', {'slug':slug}) }}" class="loginform">
                                    <h2>Quick inquiry</h2>

                                    {% for message in app.session.getFlashBag.get('inquiry') %}
                                        <mark style="padding: 10px;display: block;"> {{ message }}</mark>
                                    {% endfor %}

                                    <div style="width: 250px;float:left;"><label>Your name</label><br>
                                        {{ form_widget(form.name, { 'attr': {'class': 'input'} }) }}</div>
                                    <div><label>Your email address</label><br>
                                        {{ form_widget(form.email, { 'attr': {'class': 'input'} }) }}</div>
                                    <p><label>Your phone number</label><br>
                                        {{ form_widget(form.phone, { 'attr': {'class': 'input'} }) }}</p>
                                    <p><label>Your message</label><br>
                                        {{ form_widget(form.content, { 'attr': {'class': 'input', 'rows': '4'} }) }}</p>

                                    {{ form_rest(form) }}
                                    <p class="submit">
                                        <input type="submit" name="wp-submit" id="wp-submit" class="btn-submit" value="Send" tabindex="100">
                                    </p>
                                </form>
                            </div>
                            <!--/ login widget -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- sidebar -->
            <div class="sidebar">
                <div class="box">

                    <!-- widget_categories -->
                    <div class="widget-container widget_categories">
                        <h3 class="widget-title">Trip snapshot</h3>
                        <b style="color: #B28E1B">Tour length:</b> <span>{{ tour.duration2 }}</span>
                        <br/>
                        <b style="color: #B28E1B">Available time:</b> <span>{{ tour.availableTime }}</span>
                        <br/>
                        <b style="color: #B28E1B">Region:</b> <span>{{ tour.region }}</span>
                        <br/>
                    </div>
                    <!--/ widget_categories -->

                    <!-- widget_categories -->
                    <div class="widget-container widget_categories">
                        <h3 class="widget-title">Travel map</h3>
                        <a href="{{ tour.mapLarge }}" data-rel="prettyPhoto" title="Travel map" hidefocus="true" rel="prettyPhoto" style="outline: none;"><img src="{{ tour.map }}" width="380" class="frame_box"/></a>
                    </div>
                    <!--/ widget_categories -->

                    <!-- widget_recent_comments -->
                    <div class="widget-container widget_popular">
                        <h3 class="widget-title">Highlights</h3>
                        <ul>
                            {% for highlight in tour.highlights %}
                            <li><a href="javascript:;">{{ highlight }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--/ widget_recent_comments -->

                    <!-- subscribe buttons -->
                    <div class="widget-container subscribe_btn">
                        <div>
                            <a href="{{ path('page_show', {'slug':'trip-calendar-2015'}) }}"><img src="/images/group_travel_2014.jpg" alt="Join our group travel 2014"/></a>
                        </div>
                    </div>
                    <!--/ subscribe buttons -->
                </div>

                <div class="sb sb_dark">
                    <div class="box_title">Included</div>
                    <div class="box_content">
                        <div class="entry">
                            <div class="list_check">
                                <ul>
                                    <li>Shared accommodation in ger camp</li>
                                    <li>All meals as listed in itinerary</li>
                                    <li>All entrance fees</li>
                                    <li>Sightseeing as per itinerary</li>
                                    <li>Accommodation in 4 stars hotel in Ulaanbaatar (twin standard room double occupancy)</li>
                                    <li>Transportations by 4WD vehicles</li>
                                    <li>English speaking guide (other language guide on request)</li>
                                    <li>Daily supply of bottled water</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="sb sb_dark">
                    <div class="box_title">Not included</div>
                    <div class="box_content">
                        <div class="entry">
                            <div class="list_delete">
                                <ul>
                                    <li>International airfare</li>
                                    <li>Travel insurance</li>
                                    <li>Beverages</li>
                                    <li>Optional activity cost</li>
                                    <li>Excess baggage charge</li>
                                    <li>Single room supplement</li>
                                    <li>Any additional things which are not mentioned above</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="sb sb_blue">
                    <div class="box_title">Testimonial</div>
                    <div class="box_content">
                        <div class="slider_quotes" style="margin-top: 45px;">
                            <div class="slider-item">
                                {% if tour.testimonial is defined %}
                                    <div class="quote-text">
                                        {{ tour.testimonial|raw }}
                                    </div>
                                {% else %}
                                    <div class="quote-text">
                                        <strong>Hello Soyoloo</strong><br/><p>Just want to thank you for your wonderful hospitality and expert tour guiding during our trip to Mongolia.  We loved visiting the Husai National Park and exploring the city of Ulaanbaatar.  Our favorite part of the trip was seeing the beautiful countryside and encountering wild horses, camels and eagles.
                                            Thank you so much for showing us around and making sure our trip was a success.  We also enjoyed our driver, Zoloo.  Look forward to planning our next adventure with you.
                                        </p></div>
                                    <div class="quote-author">
                                        <strong>Lisa Berkman, Tour group from USA</strong>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

            </div>
            <!--/ sidebar -->
        </div>
    </div>
{% endblock %}