{% extends 'layout.html.twig' %}

{% block content %}

    <!-- header -->
    <div class="header header_thin" style="background-image:url(/images/slider3_mini.jpg)">

        <div class="header_title">
            <strong><span>{{ tour.name }}</span> ({{ tour.duration2 }})</strong>
        </div>

    </div>
    <!--/ header -->

    <!-- breadcrumbs -->
    <div class="middle_row row_white breadcrumbs">
        <div class="container">
            <p><a href="{{ path('homepage') }}">Home</a>  <span class="separator">&rsaquo;</span>
                <span class="current">Tours</span>  <span class="separator">&rsaquo;</span>
                <span class="current">{{ tour.name }}</span></p>
        </div>
    </div>
    <!--/ breadcrumbs -->

    <!-- middle -->
    <div id="middle" class="cols2 sidebar_left">
        <div class="container clearfix">
            <!-- sidebar -->
            <div class="sidebar">
                <div class="box">

                    <!-- widget_categories -->
                    <div class="widget-container widget_categories">
                        <h3 class="widget-title">Trip snapshot</h3>
                        <b style="color: #B28E1B">Tour length:</b> <span>{{ tour.duration2 }}</span>
                        <br/>
                        <b style="color: #B28E1B">Available time:</b> <span>{{ tour.availableTime }}</span>
                        <br/>
                        <b style="color: #B28E1B">Region:</b> <span>{{ tour.region }}</span>
                        <br/>
                        <b style="color: #B28E1B">Price:</b> <span style="color: #949494; text-decoration: line-through">$1865</span><span>$1485 for 2-5 PAX</span>
                        <br/>{#
                        <span style="font-weight: bold; color: brown"><a
                                    href="http://www.travelallmongolia.com/contact/form">
                                Contact us for Early Booking Discount</a></span>
                        <br/>#}
                        {#<span style="font-weight: bold; color: brown">Save $200 BOOK by Dec 31, 2018</span>
                        <br/>#}
                        <b style="color: #B28E1B">Single supplement:</b> <span>$450</span>
                        <br/>
                        If you are traveling alone and wish to share a room with another participant, we will try to find a roommate for you

                        {# early booking banner #}
                        {% if app.show_early_booking_banner %}
                            <a href="#!" data-rel="prettyPhoto" title="Travel map" hidefocus="true" rel="prettyPhoto" style="outline: none;">
                                <img src="/images/early-booking-banner.png" width="380" class="frame_box"/></a>
                        {% endif %}
                    </div>
                    <!--/ widget_categories -->

                    <!-- widget_categories -->
                    <div class="widget-container widget_categories">
                        <h3 class="widget-title" style="margin-bottom:0;">Travel map</h3>
                    </div>
                    <a href="{{ tour.mapLarge }}" data-rel="prettyPhoto" title="Travel map" hidefocus="true" rel="prettyPhoto" style="outline: none;"><img src="{{ tour.map }}" width="380" class="frame_box"/></a>
                    <!--/ widget_categories -->

                    <!-- widget_recent_comments -->
                    <div class="widget-container widget_popular">
                        <h3 class="widget-title">Highlights</h3>
                        <ul>
                            {% for highlight in tour.highlights %}
                                <li><a href="javascript:;">{{ highlight }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--/ widget_recent_comments -->
                    {{ include('Tour/_discount.html.twig') }}

                    <!-- subscribe buttons -->
                    <div class="widget-container subscribe_btn">
                        <div>
                            <a href="{{ path('page_show', {'slug':'trip-calendar-2018'}) }}"><img src="/images/group_travel_2018.jpg" alt="Join our group travel 2018"/></a>
                        </div>
                    </div>
                    <!--/ subscribe buttons -->
                </div>

                <div class="sb sb_dark">
                    <div class="box_title">Included</div>
                    <div class="box_content">
                        <div class="entry">
                            <div class="list_check">
                                <ul>
                                    <li>Private ger for every 2 people in Tourist camp</li>
                                    <li>All meals as listed in itinerary</li>
                                    <li>All entrance fees</li>
                                    <li>Sightseeing as per itinerary</li>
                                    <li>Accommodation in 4 stars hotel in Ulaanbaatar (twin standard room double occupancy)</li>
                                    <li>Transportations by 4WD vehicles</li>
                                    <li>English speaking guide (other language guide on request)</li>
                                    <li>Daily supply of bottled water</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="sb sb_dark">
                    <div class="box_title">Not included</div>
                    <div class="box_content">
                        <div class="entry">
                            <div class="list_delete">
                                <ul>
                                    <li>International airfare</li>
                                    <li>Travel insurance</li>
                                    <li>Beverages</li>
                                    <li>Optional activity cost</li>
                                    <li>Excess baggage charge</li>
                                    <li>Single room supplement</li>
                                    <li>Any additional things which are not mentioned above</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="sb sb_blue">
                    <div class="box_title">Testimonial</div>
                    <div class="box_content">
                        <div class="slider_quotes" style="margin-top: 45px;">
                            <div class="slider-item">
                                {% if tour.testimonial is defined %}
                                    <div class="quote-text">
                                        {{ tour.testimonial|raw }}
                                    </div>
                                {% else %}
                                    <div class="quote-text">
                                        <strong>Hello Soyoloo</strong><br/><p>Just want to thank you for your wonderful hospitality and expert tour guiding during our trip to Mongolia.  We loved visiting the Husai National Park and exploring the city of Ulaanbaatar.  Our favorite part of the trip was seeing the beautiful countryside and encountering wild horses, camels and eagles.
                                            Thank you so much for showing us around and making sure our trip was a success.  We also enjoyed our driver, Zoloo.  Look forward to planning our next adventure with you.
                                        </p></div>
                                    <div class="quote-author">
                                        <strong>Lisa Berkman, Tour group from USA</strong>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                {{ include('Tour/_catalog.html.twig') }}

            </div>
            <!--/ sidebar -->

            <!-- content -->
            <div class="content">
                <h2>{{ tour.name }} ({{ tour.duration2 }})</h2>

                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for slide in tour.pictures %}
                            <div class="swiper-slide">
                                <img src="{{ slide }}" alt="{{ tour.name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

                <div class="">
                    <div class="post-item">
                        <div class="post-aside clearfix">
                            <div class="entry">
                                {{ tour.overview |raw }}
                            </div>

                            {# buttons #}
                            <a class="btn btn_default" href="{{ path('booking') }}"><span>BOOK TRIP</span></a>
                            <a class="btn btn_blue addthis_button_email" title="Send to a friend"><i class="icon icon-envelope-alt"></i> <span>SEND TO A FRIEND</span></a>
                            {#<a class="btn btn-info" href="{{ path('request_quote',{'slug':slug}) }}">REQUEST A QUOTE</a>#}
                            {% if tour.pdf is defined and tour.pdf is not null %}
                                <a class="btn btn_cyan" href="{{ path('download_pdf',{'slug':tour.pdf}) }}"><span>DOWNLOAD PDF</span></a>
                            {% else %}
                                <a class="btn btn_cyan" href="{{ path('request_quote',{'slug':slug}) }}"><span>REQUEST A QUOTE</span></a>
                            {% endif %}
                            <a class="btn btn_green" href="{{ path('catalog') }}"><span>REQUEST A CATALOG</span></a>
                            <a class="btn btn_violet" style="margin-top: 5px;" href="{{ path('request_airfare_quote') }}"><span>REQUEST AIRFARE QUOTE</span></a>
                            <a class="btn btn_turquoise" style="margin-top: 5px;" href="{{ path('request_a_callback') }}"><span>REQUEST A CALLBACK</span></a>

                            <h2 style="color: #B28E1B; margin-top: 20px; ">DETAILED TOUR ITINERARY</h2>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 1 ~Arrival in Ulaanbaatar, Mongolia</div>
                                <div class="box_content">
                                    <p>Upon arrival at Genghis Khan International Airport, you are met by our guide and transferred to the hotel in the city center.</p>
                                    <p>Rest of the day is for rest and to recover jet lag and travel fatigue.</p>
                                    <p><strong><em>Overnight in 4* HOTEL <br/>Meals: Dinner </em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 2 ~ Cultural Tour of Ulaanbaatar </div>
                                <div class="box_content">
                                    <p>Following breakfast, we set out to explore Ulaanbaatar-the capital city of Mongolia-the home to over a one third of the country's population where the traditional gers and Buddhist temples coexist with sky-kissing towers! Begin from the Gandan Monastery-Mongolia's most revered religious site-home to more than 100 Buddhist monks with beautiful chapels, courtyards and a giant 75-foot gold gilded Buddha statue. </p>
                                    <p>Next, we stop in the Natural History Museum that showcases the spectacular fossils found in the Gobi desert. After lunch, we visit the National Museum of Mongolian History and culture that has rich collection of stone and Bronze Age artifacts, costumes, sacred relics and items related to the nomadic life such as hunting and fishing tools.</p>
                                    <p>The balance of the day is open for you to stroll the streets of the city on your own. </p>
                                    <p><strong><em>Overnight in 4* HOTEL <br/>Meals: Breakfast, lunch and dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 3 To Lake Khovsgul in the North</div>
                                <div class="box_content">
                                    <p>Following breakfast, we are transferred to the airport for flight to Muron in the north. Muron is the headquarter of the Khovsgul Province. We meet our local guide at the airport and then we drive by 4WD vehicle through the vast Mongolian steppe into the forested mountains and finally we arrive at the Lake Khovsgul-Mongolia's largest lake. The lake, also known as the "Dark Blue Pearl" of Mongolia is situated amidst the pristine nature with beautiful forests, mountains and meadows and abundant with bird species and orchids. </p>
                                    <p><strong><em>Overnight in the Ger Camp <br/>Meals: Breakfast, lunch and dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 4 Discover Khuvsgul National park</div>
                                <div class="box_content">
                                    <p>During whole lovely day, you will have an opportunity to ride reindeer and observe them. We spend the next two days in walking, hiking, horseback riding in the environs of the lake and the nearby mountains and visiting the local nomadic families. Optional boating trip is available on request. </p>
                                    <p>Khuvsgul Lake is reckoned among the purest fresh water lakes in the world. Its surroundings right out of a fairytale. Khuvsgul Lake is the second deepest lake in Central Asia and contains 60% as much water as Lake Baikal. Depth of Khuvsgul Lake is 262 meters and 136 kilometers long.  </p>
                                    <p><strong>Walking and hiking in the lake shores, Horse riding trek near the lake, visiting yak breeding family and experience their unique lifestyle</strong></p>
                                    <p><strong><em>Overnight in the Ger Camp <br/>Meals: Breakfast, lunch and dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 5 Back to Ulaanbaatar. </div>
                                <div class="box_content">
                                    <p>Following breakfast, transfer back to the airport and fly to Ulaanbaatar. There is more to see if you are interested. Visit the Bogd Khan Winter Palace Museum-residence of Bodg Jabzan Damba Hutagt VIII-Mongolia's last theocrat. Or take leisurely stroll in the town center. In the evening, enjoy dinner and local folklore dance shows.</p>
                                    <p><strong><em>Overnight in 4* HOTEL <br/>Meals: Breakfast, lunch and dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title"> Day 6 Depart Mongolia </div>
                                <div class="box_content">
                                    <p>Transfer to the airport for flight to next destination</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            {# buttons #}
                            <a class="btn btn_default" href="{{ path('booking') }}"><span>BOOK TRIP</span></a>
                            <a class="btn btn_blue addthis_button_email" title="Send to a friend"><i class="icon icon-envelope-alt"></i> <span>SEND TO A FRIEND</span></a>
                            {#<a class="btn btn-info" href="{{ path('request_quote',{'slug':slug}) }}">REQUEST A QUOTE</a>#}
                            {% if tour.pdf is defined and tour.pdf is not null %}
                                <a class="btn btn_cyan" href="{{ path('download_pdf',{'slug':tour.pdf}) }}"><span>DOWNLOAD PDF</span></a>
                            {% else %}
                                <a class="btn btn_cyan" href="{{ path('request_quote',{'slug':slug}) }}"><span>REQUEST A QUOTE</span></a>
                            {% endif %}
                            <a class="btn btn_green" href="{{ path('catalog') }}"><span>REQUEST A CATALOG</span></a>
                            <a class="btn btn_violet" style="margin-top: 5px;" href="{{ path('request_airfare_quote') }}"><span>REQUEST AIRFARE QUOTE</span></a>
                            <a class="btn btn_turquoise" style="margin-top: 5px;" href="{{ path('request_a_callback') }}"><span>REQUEST A CALLBACK</span></a>
                            <script type="text/javascript">var addthis_config = {'services' : 'facebook,twitter,email,more', "data_track_addressbar":true};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b596d25b76435f"></script>

                            <!-- login widget -->
                            <div class="widget-container widget_login" style="width: 100%; margin-top: 10px;">

                                <form method="post" action="{{ path('inquiry_send', {'slug':slug}) }}" class="loginform" novalidate>
                                    <h2>Quick inquiry</h2>

                                    <input type="hidden" name="tourName" value="{{ tour.name }}">
                                    {% for message in app.session.getFlashBag.get('inquiry') %}
                                        <mark style="padding: 10px;display: block;"> {{ message }}</mark>
                                    {% endfor %}

                                    <div style="width: 250px;float:left;"><label>Your name</label><br>
                                        {{ form_widget(form.name, { 'attr': {'class': 'input'} }) }}</div>
                                    <div><label>Your email address</label><br>
                                        {{ form_widget(form.email, { 'attr': {'class': 'input'} }) }}</div>
                                    <p><label>Your phone number</label><br>
                                        {{ form_widget(form.phone, { 'attr': {'class': 'input'} }) }}</p>
                                    <p><label>Your message</label><br>
                                        {{ form_widget(form.content, { 'attr': {'class': 'input', 'rows': '4'} }) }}</p>
                                    <div style="display: none">
                                        {{ form_widget(form.phone2, { 'attr': {'class': 'input'} }) }}
                                    </div>

                                    {{ form_rest(form) }}
                                    <p class="submit">
                                        <input type="submit" name="wp-submit" id="wp-submit" class="btn-submit" value="Send" tabindex="100">
                                    </p>
                                </form>
                            </div>
                            <!--/ login widget -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ include('Tour/_tour_style.html.twig') }}
{% endblock %}