{% extends 'layout.html.twig' %}

{% block content %}

    <!-- header -->
    <div class="header header_thin" style="background-image:url(/images/slider3_mini.jpg)">

        <div class="header_title">
            <strong><span>{{ tour.name }}</span> ({{ tour.duration2 }})</strong>
        </div>

    </div>
    <!--/ header -->

    <!-- breadcrumbs -->
    <div class="middle_row row_white breadcrumbs">
        <div class="container">
            <p><a href="{{ path('homepage') }}">Home</a>  <span class="separator">&rsaquo;</span>
                <span class="current">Tours</span>  <span class="separator">&rsaquo;</span>
                <span class="current">{{ tour.name }}</span></p>
        </div>
    </div>
    <!--/ breadcrumbs -->

    <!-- middle -->
    <div id="middle" class="cols2 sidebar_left">
        <div class="container clearfix">
            <!-- sidebar -->
            <div class="sidebar">
                <div class="box">

                    <!-- widget_categories -->
                    <div class="widget-container widget_categories">
                        <h3 class="widget-title">Trip snapshot</h3>
                        <b style="color: #B28E1B">Tour length:</b> <span>{{ tour.duration2 }}</span>
                        <br/>
                        <b style="color: #B28E1B">Available time:</b> <span>{{ tour.availableTime }}</span>
                        <br/>
                        <b style="color: #B28E1B">Region:</b> <span>{{ tour.region }}</span>
                        <br/>
                        <b style="color: #B28E1B">Price:</b> <span>Privately on Request</span>
                        <br/>{#
                        <span style="font-weight: bold; color: brown"><a
                                    href="http://www.travelallmongolia.com/contact/form">
                                Contact us for Early Booking Discount</a></span>
                        <br/>#}

                        {# early booking banner #}
                        {% if app.show_early_booking_banner %}
                            <a href="#!" data-rel="prettyPhoto" title="Travel map" hidefocus="true" rel="prettyPhoto" style="outline: none;">
                                <img src="/images/early-booking-banner.png" width="380" class="frame_box"/></a>
                        {% endif %}
                    </div>
                    <!--/ widget_categories -->

                    <!-- widget_categories -->
                    <div class="widget-container widget_categories">
                        <h3 class="widget-title" style="margin-bottom:0;">Travel map</h3>
                    </div>
                    <a href="{{ tour.mapLarge }}" data-rel="prettyPhoto" title="Travel map" hidefocus="true" rel="prettyPhoto" style="outline: none;"><img src="{{ tour.map }}" width="380" class="frame_box"/></a>
                    <!--/ widget_categories -->

                    <!-- widget_recent_comments -->
                    <div class="widget-container widget_popular">
                        <h3 class="widget-title">Highlights</h3>
                        <ul>
                            {% for highlight in tour.highlights %}
                                <li><a href="javascript:;">{{ highlight }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--/ widget_recent_comments -->
                    {{ include('Tour/_discount.html.twig') }}

                    <!-- login widget -->
                    <div class="widget-container widget_login">
                        <h2>Quick inquiry</h2>

                        <form method="post" action="{{ path('inquiry_send', {'slug':slug}) }}" class="loginform" novalidate>

                            <input type="hidden" name="tourName" value="{{ tour.name }}">
                            {% for message in app.session.getFlashBag.get('inquiry') %}
                                <mark style="padding: 10px;display: block;"> {{ message }}</mark>
                            {% endfor %}

                            <p><label>Your name</label><br>
                                {{ form_widget(form.name, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your email address</label><br>
                                {{ form_widget(form.email, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your phone number</label><br>
                                {{ form_widget(form.phone, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your message</label><br>
                                {{ form_widget(form.content, { 'attr': {'class': 'input', 'rows': '4'} }) }}</p>
                            <div style="display: none">
                                {{ form_widget(form.phone2, { 'attr': {'class': 'input'} }) }}
                            </div>

                            {{ form_rest(form) }}
                            <p class="submit">
                                <input type="submit" name="wp-submit" id="wp-submit" class="btn-submit" value="Send" tabindex="100">
                            </p>
                        </form>
                    </div>
                    <!--/ login widget -->

                    <!-- subscribe buttons -->
                    <div class="widget-container subscribe_btn">
                        {#<mark style="padding: 10px;display: block;">OFFER 10% May sale discount</mark>
                        <br/>#}
                        <div>
                            <a href="{{ path('page_show', {'slug':'trip-calendar-2018'}) }}"><img src="/images/group_travel_2018.jpg" alt="Join our group travel 2018"/></a>
                        </div>
                    </div>
                    <!--/ subscribe buttons -->

                </div>

                <div class="sb sb_dark">
                    <div class="box_title">Included</div>
                    <div class="box_content">
                        <div class="entry">
                            <div class="list_check">
                                <ul>
                                    <li>Private ger for every 2 people in Tourist camp</li>
                                    <li>All meals as listed in itinerary</li>
                                    <li>All entrance fees</li>
                                    <li>Sightseeing as per itinerary</li>
                                    <li>Accommodation in 4 stars hotel in Ulaanbaatar (twin standard room double occupancy)</li>
                                    <li>Transportations by 4WD vehicles</li>
                                    <li>English speaking guide (other language guide on request)</li>
                                    <li>Daily supply of bottled water</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="sb sb_dark">
                    <div class="box_title">Not included</div>
                    <div class="box_content">
                        <div class="entry">
                            <div class="list_delete">
                                <ul>
                                    <li>International airfare</li>
                                    <li>Travel insurance</li>
                                    <li>Beverages</li>
                                    <li>Optional activity cost</li>
                                    <li>Excess baggage charge</li>
                                    <li>Single room supplement</li>
                                    <li>Any additional things which are not mentioned above</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="sb sb_blue">
                    <div class="box_title">Testimonial</div>
                    <div class="box_content">
                        <div class="slider_quotes" style="margin-top: 45px;">
                            <div class="slider-item">
                                {% if tour.testimonial is defined %}
                                    <div class="quote-text">
                                        {{ tour.testimonial|raw }}
                                    </div>
                                {% else %}
                                    <div class="quote-text">
                                        <strong>Hello Soyoloo</strong><br/><p>Just want to thank you for your wonderful hospitality and expert tour guiding during our trip to Mongolia.  We loved visiting the Husai National Park and exploring the city of Ulaanbaatar.  Our favorite part of the trip was seeing the beautiful countryside and encountering wild horses, camels and eagles.
                                            Thank you so much for showing us around and making sure our trip was a success.  We also enjoyed our driver, Zoloo.  Look forward to planning our next adventure with you.
                                        </p></div>
                                    <div class="quote-author">
                                        <strong>Lisa Berkman, Tour group from USA</strong>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                {{ include('Tour/_catalog.html.twig') }}

            </div>
            <!--/ sidebar -->

            <!-- content -->
            <div class="content">
                <h2>{{ tour.name }} ({{ tour.duration2 }})</h2>

                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for slide in tour.pictures %}
                            <div class="swiper-slide">
                                <img src="{{ slide }}" alt="{{ tour.name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

                <div class="">
                    <div class="post-item">
                        <div class="post-aside clearfix">
                            <div class="entry">
                                {{ tour.overview |raw }}
                            </div>

                            {# buttons #}
                            <a class="btn btn_default" href="{{ path('booking') }}"><span>BOOK TRIP</span></a>
                            <a class="btn btn_blue addthis_button_email" title="Send to a friend"><i class="icon icon-envelope-alt"></i> <span>SEND TO A FRIEND</span></a>
                            {#<a class="btn btn-info" href="{{ path('request_quote',{'slug':slug}) }}">REQUEST A QUOTE</a>#}
                            {% if tour.pdf is defined and tour.pdf is not null %}
                                <a class="btn btn_cyan" href="{{ path('download_pdf',{'slug':tour.pdf}) }}"><span>DOWNLOAD PDF</span></a>
                            {% else %}
                                <a class="btn btn_cyan" href="{{ path('request_quote',{'slug':slug}) }}"><span>REQUEST A QUOTE</span></a>
                            {% endif %}
                            <a class="btn btn_green" href="{{ path('catalog') }}"><span>REQUEST A CATALOG</span></a>
                            <a class="btn btn_violet" style="margin-top: 5px;" href="{{ path('request_airfare_quote') }}"><span>REQUEST AIRFARE QUOTE</span></a>
                            <a class="btn btn_turquoise" style="margin-top: 5px;" href="{{ path('request_a_callback') }}"><span>REQUEST A CALLBACK</span></a>

                            <h2 style="color: #B28E1B; margin-top: 20px; ">DETAILED TOUR ITINERARY</h2>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 1 Ulaanbaatar </div>
                                <div class="box_content">
                                    <p>Arrive in Ulaanbaatar the capital of Mongolia and transfer to hotel. Afternoon meet crew and allocate mountain bike. We will make sure something on bike for the trip. Rest time we will make a city tour around Ulaanbaatar.Welcome dinner at restaurant and stay overnight in hotel. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 2 Ulaanbaatar to Karakorum (ErdeneZuu Monastery)- driving</div>
                                <div class="box_content">
                                    <p>Early morning drive to Karakorum and arrive late afternoon, on the way picnic. Ancient capital of Mongolia Karakorum city was located on the right bank of Orkhon River and on the north-eastern slopes of the Khangai Mountain and founded by Chinggis khan in 1220, was not only the capital of the vast Mongolian Empire but the epicentre of trade along the Silk Road. At that time the inhabitants of city were mostly Merchants craftsmen who came to karakorum from all over the world. Khubilai khan moved to the capital of the Mongolian Empire to China, establishing the Yuan Dynasty, began losing its importance. In 1379 much of the city was badly damaged during an attack by the army of the Min Dynasty. Stay overnight in ger at tourist camp. (ger means Mongolian traditional felt accommodation) (B, L, D)</p>
                                    <p><strong>ErdeneZuu monastery</strong></p>
                                    <p>Erdenezuu monastery was built by AvtaiSain Khan on the ruin of the Mongolian capital Karakorum in 1586. It was the first great Buddhist Monastery of Mongolia. It is part of the World Heritage Site entitled Orkhon Valley Cultural Landscape. Stones from the ruins of Karakorum were used in construction. It is surrounded by a wall featuring 108 stupas, 108 being a sacred number in Buddhism, and the number of beads in a Buddhist rosary. The monastery was damaged by warfare in the 1680s, but was rebuilt in the 18th century and by 1872 had a full 62 temples inside. The ErdeneZuu Monastery was taken to state protection and became museum in 1944.</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 3 Karakorum (ErdeneZuu Monastery) to Orkhon Waterfall– 60 km</div>
                                <div class="box_content">
                                    <p><strong>Cycling</strong></p>
                                    <p>In the morning we will drive to Orkhon Waterfall. Water falls from a height of 20 meters at Orkhon Waterfall, which is locally known as UlaanTsutgalan. Stay overnight in tent. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 4 continue cycling to Waterfall – 60km</div>
                                <div class="box_content">
                                    <p><strong>Cycling</strong></p>
                                    <p>Breakfast at the camp and early morning drive to Yol valley which is located 62 km far from the South-Gobi province in the MT ZuunSaikhan. Very wide at the entrance, it narrows gradually into a remarkable gorge. You will have chance to see wild animals and of course see the vulture. Packed lunch on the way continue to drive and transfer to the camp nearby at the Gobi three beauties. Stay overnight in tent. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 5 Orkhon Waterfall to Ongi Temple- 50km</div>
                                <div class="box_content">
                                    <p><strong>Cycling</strong></p>
                                    <p>Drive to Ongi temple. The ruins of OngiTemple are found in SaikhanOvoosoum of Dundgobi (Middle Gobi) province. It used to be a big Buddhist monastery compound built byBari YonzonKhamba at the bank of OngiRiver. Transfer to the camp before the lunch. Visit the ruins of temple also there is small ger museum signifies ancient things. Stay overnight in tent. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 6 continue cycling to Ongi temple - 70km</div>
                                <div class="box_content">
                                    <p><strong>Cycling and driving</strong></p>
                                    <p>Today we will make cycling towards to Ongi temple through beautiful nature for 70km. after cycling 70 km we will drive by car till tourist camp and our destination.Stay overnight in ger at tourist camp.(B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 7 Ongi temple to Bayanzag(Flaming Cliffs) 50km</div>
                                <div class="box_content">
                                    <p><strong>Cycling</strong></p>
                                    <p>Drive to Bayanzag which is located 20 kilometers far from Bulgansoum, where 70 million years ago a lot of Paleontological findings have been discovered. The place is known as Flaming Cliffs so named by Roy Chapman Andrews American explorer who had visited Mongolia in 1922. During two years he searched through the MongolianGobiDesert and he found dinosaur fossils and dinosaur eggs about 10-15 cm from the Bayanzag for the first time in the world. Visiting and exploring native land of dinosaurs and taking some photos for beautiful surroundings. Dinner and stay overnight in tent. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 8 continue cycling to Bayanzag 70km</div>
                                <div class="box_content">
                                    <p><strong>Cycling</strong></p>
                                    <p>After breakfast, cycling to excellent smooth, flat and all roadsis country road. Stay overnight in ger at the tourist camp. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 9 Bayanzag(Flaming Cliffs) to Khongor sand dune -65km</div>
                                <div class="box_content">
                                    <p>Early morning drive to and visit Gobi three beauties national park. Riding a horse or a camel and trekking to the gorge. Packed lunch on the way and visit nomadic family, continue driving to Khongor sand dune which the length of approximately 180 kilometers and 3-15 kilometers wide. From distance it looks like a fin of huge gold fish. After arriving take a shower and welcome dinner. Stay overnight in tent. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 10 continue cycling to Khongor sand dune 50km</div>
                                <div class="box_content">
                                    <p><strong>Cycling and driving</strong></p>
                                    <p>Today, we will cycle towards to Khongor Sand dune by wonderful valley. You can bike for 50-60 kms and make the rest of the distance driving by car. Dinner and stay overnight in gerat tourist camp. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 11 Khongor sand dune to Yol valley 60-70km</div>
                                <div class="box_content">
                                    <p><strong>Driving and cycling</strong></p>
                                    <p>Early in the morning we will make a way to next destination by car for some kilometers and make the rest of the distance cycling by bike through beautiful canyon. Yol valley which is located 62 km far from the South-Gobi province in the MT ZuunSaikhan. Very wide at the entrance, it narrows gradually into a remarkable gorge. You will have chance to see wild animals and of course see the vulture. Packed lunch on the way continue to drive and transfer to the camp nearby at the Gobi three beauties. You will take opportunity to ride horse and camel to go valley. Stay overnight in tent. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 12, 13 Yol valley to Bagagazriinchuluu(Earth stone) 65kms, 80kms</div>
                                <div class="box_content">
                                    <p><strong>Cycling</strong></p>
                                    <p>After breakfast, early morning we will make a way to Middle Gobi is known as BagaGazriinchuluu (earth stone). You will be reached in the early afternoon, lunch at the camp. There are some interesting granite rock formations, also there eye spa which supposed to be good for sights. There is ruin of ancient small temple, located middle of the rock. You can bike for 60-80 kms and make the rest of the distance driving by car.Stay overnight in tent. (B, L, D)</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 14 Bagagazriinchuluu(Earth stone) to Ulaanbaatar</div>
                                <div class="box_content">
                                    <p><strong>Driving</strong></p>
                                    <p>Drive back to Ulaanbaatar. Transfer to the hotel and lunch at the finest restaurant in Ulaanbaatar. In the afternoon free time do shopping for cashmere shop, souvenir shop and State Department Store. Enjoy watch national folklore performance by “TumenEkh” national song, throat singing, tsam mask dance and so on. A farewell dinner and stay overnight in hotel.</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 15 Departure</div>
                                <div class="box_content">
                                    <p>Transfer to the “Chinggis Khan” InternationalAirport or Ulaanbaatar Train Station for departure.</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            {# buttons #}
                            <a class="btn btn_default" href="{{ path('booking') }}"><span>BOOK TRIP</span></a>
                            <a class="btn btn_blue addthis_button_email" title="Send to a friend"><i class="icon icon-envelope-alt"></i> <span>SEND TO A FRIEND</span></a>
                            {#<a class="btn btn-info" href="{{ path('request_quote',{'slug':slug}) }}">REQUEST A QUOTE</a>#}
                            {% if tour.pdf is defined and tour.pdf is not null %}
                                <a class="btn btn_cyan" href="{{ path('download_pdf',{'slug':tour.pdf}) }}"><span>DOWNLOAD PDF</span></a>
                            {% else %}
                                <a class="btn btn_cyan" href="{{ path('request_quote',{'slug':slug}) }}"><span>REQUEST A QUOTE</span></a>
                            {% endif %}
                            <a class="btn btn_green" href="{{ path('catalog') }}"><span>REQUEST A CATALOG</span></a>
                            <a class="btn btn_violet" style="margin-top: 5px;" href="{{ path('request_airfare_quote') }}"><span>REQUEST AIRFARE QUOTE</span></a>
                            <a class="btn btn_turquoise" style="margin-top: 5px;" href="{{ path('request_a_callback') }}"><span>REQUEST A CALLBACK</span></a>
                            <script type="text/javascript">var addthis_config = {'services' : 'facebook,twitter,email,more', "data_track_addressbar":true};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b596d25b76435f"></script>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ include('Tour/_tour_style.html.twig') }}
{% endblock %}