{% extends 'layout.html.twig' %}

{% block content %}

    <!-- header -->
    <div class="header header_thin" style="background-image:url(/images/slider3_mini.jpg)">

        <div class="header_title">
            <strong><span>{{ tour.name }}</span> ({{ tour.duration2 }})</strong>
        </div>

    </div>
    <!--/ header -->

    <!-- breadcrumbs -->
    <div class="middle_row row_white breadcrumbs">
        <div class="container">
            <p><a href="{{ path('homepage') }}">Home</a>  <span class="separator">&rsaquo;</span>
                <span class="current">Tours</span>  <span class="separator">&rsaquo;</span>
                <span class="current">{{ tour.name }}</span></p>
        </div>
    </div>
    <!--/ breadcrumbs -->

    <!-- middle -->
    <div id="middle" class="cols2 sidebar_left">
        <div class="container clearfix">
            <!-- sidebar -->
            <div class="sidebar">
                <div class="box">

                    <!-- widget_categories -->
                    <div class="widget-container widget_categories">
                        <h3 class="widget-title">Trip snapshot</h3>
                        <b style="color: #B28E1B">Tour length:</b> <span>{{ tour.duration2 }}</span>
                        <br/>
                        <b style="color: #B28E1B">Available time:</b> <span>{{ tour.availableTime|raw }}</span>
                        <br/>
                        <b style="color: #B28E1B">Region:</b> <span>{{ tour.region }}</span>
                        <br/>
                        <b style="color: #B28E1B">Price:</b> <span>$3885</span>
                        <br/>{#
                        <span style="font-weight: bold; color: brown"><a
                                    href="http://www.travelallmongolia.com/contact/form">
                                Contact us for Early Booking Discount</a></span>
                        <br/>#}
                        {#<span style="font-weight: bold; color: brown">$500 OFF by March 31</span>
                        <br/>#}
                        <b style="color: #B28E1B">Single supplement:</b> <span>$480</span>
                        <br/>
                        If you are traveling alone and wish to share a room with another participant, we will try to find a roommate for you

                        {# early booking banner #}
                        {% if app.show_early_booking_banner %}
                            <a href="#!" data-rel="prettyPhoto" title="Travel map" hidefocus="true" rel="prettyPhoto" style="outline: none;">
                                <img src="/images/early-booking-banner.png" width="380" class="frame_box"/></a>
                        {% endif %}
                    </div>
                    <!--/ widget_categories -->

                    <div class="widget-container widget_categories" style="background: #f25c24;">
                        <p style="font-style: italic; color: white; font-size: 18px;">
                            Book this trip and stay in a Deluxe get at Gobi Nomad Lodge for three nights at no additional
                            cost. The Deluxe gers have en-suite bathrooms with shower and air-conditioning.</p>
                    </div>

                    {% include 'Page/_trip_advisor.html.twig' %}

                    <!-- widget_categories -->
                    <div class="widget-container widget_categories">
                        <h3 class="widget-title" style="margin-bottom:0;">Travel map</h3>
                    </div>
                    <a href="{{ tour.mapLarge }}" data-rel="prettyPhoto" title="Travel map" hidefocus="true" rel="prettyPhoto" style="outline: none;"><img src="{{ tour.map }}" width="380" class="frame_box"/></a>
                    <!--/ widget_categories -->

                    <!-- widget_recent_comments -->
                    <div class="widget-container widget_popular">
                        <h3 class="widget-title">Highlights</h3>
                        <ul>
                            {% for highlight in tour.highlights %}
                                <li><a href="javascript:;">{{ highlight }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--/ widget_recent_comments -->

                    {{ include('Tour/_discount.html.twig') }}

                    <!-- login widget -->
                    <div class="widget-container widget_login">
                        <h2>Quick inquiry</h2>

                        <form method="post" action="{{ path('inquiry_send', {'slug':slug}) }}" class="loginform" novalidate>

                            <input type="hidden" name="tourName" value="{{ tour.name }}">
                            {% for message in app.session.getFlashBag.get('inquiry') %}
                                <mark style="padding: 10px;display: block;"> {{ message }}</mark>
                            {% endfor %}

                            <p><label>Your name</label><br>
                                {{ form_widget(form.name, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your email address</label><br>
                                {{ form_widget(form.email, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your phone number</label><br>
                                {{ form_widget(form.phone, { 'attr': {'class': 'input'} }) }}</p>
                            <p><label>Your message</label><br>
                                {{ form_widget(form.content, { 'attr': {'class': 'input', 'rows': '4'} }) }}</p>
                            <div style="display: none">
                                {{ form_widget(form.phone2, { 'attr': {'class': 'input'} }) }}
                            </div>

                            {{ form_rest(form) }}
                            <p class="submit">
                                <input type="submit" name="wp-submit" id="wp-submit" class="btn-submit" value="Send" tabindex="100">
                            </p>
                        </form>
                    </div>
                    <!--/ login widget -->

                    <!-- subscribe buttons -->
                    <div class="widget-container subscribe_btn">
                        <div>
                            <a href="{{ path('page_show', {'slug':'trip-calendar-2019'}) }}"><img src="/images/group_travel_2019.jpg" alt="Join our group travel 2019"/></a>
                        </div>
                    </div>
                    <!--/ subscribe buttons -->
                </div>

                <div class="sb sb_dark">
                    <div class="box_title">Included</div>
                    <div class="box_content">
                        <div class="entry">
                            <div class="list_check">
                                <ul>
                                    <li>Private ger for every 2 people in Tourist camp</li>
                                    <li>All meals as listed in itinerary</li>
                                    <li>All entrance fees</li>
                                    <li>Sightseeing as per itinerary</li>
                                    <li>Accommodation  in  4  stars  hotel  inUlaanbaatar (twin standard room double occupancy)</li>
                                    <li>Transportations by 4WD vehicles</li>
                                    <li>English  speaking  guide  (other  languageguide on request)</li>
                                    <li>Daily supply of bottled water</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="sb sb_dark">
                    <div class="box_title">Not included</div>
                    <div class="box_content">
                        <div class="entry">
                            <div class="list_delete">
                                <ul>
                                    <li>International airfare</li>
                                    <li>Travel insurance</li>
                                    <li>Beverages</li>
                                    <li>Optional activity cost</li>
                                    <li>Excess baggage charge</li>
                                    <li>Single room supplement</li>
                                    <li>Any additional things which are not mentioned above</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="sb sb_blue">
                    <div class="box_title">Testimonial</div>
                    <div class="box_content">
                        <div class="slider_quotes" style="margin-top: 45px;">
                            <div class="slider-item">
                                {% if tour.testimonial is defined %}
                                    <div class="quote-text">
                                        {{ tour.testimonial|raw }}
                                    </div>
                                {% else %}
                                    <div class="quote-text">
                                        <strong>Hello Soyoloo</strong><br/><p>Just want to thank you for your wonderful hospitality and expert tour guiding during our trip to Mongolia.  We loved visiting the Husai National Park and exploring the city of Ulaanbaatar.  Our favorite part of the trip was seeing the beautiful countryside and encountering wild horses, camels and eagles.
                                            Thank you so much for showing us around and making sure our trip was a success.  We also enjoyed our driver, Zoloo.  Look forward to planning our next adventure with you.
                                        </p></div>
                                    <div class="quote-author">
                                        <strong>Lisa Berkman, Tour group from USA</strong>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                {{ include('Tour/_catalog.html.twig') }}

            </div>
            <!--/ sidebar -->

            <!-- content -->
            <div class="content">
                <h2>{{ tour.name }} ({{ tour.duration2 }})</h2>

                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for slide in tour.pictures %}
                            <div class="swiper-slide">
                                <img src="{{ slide }}" alt="{{ tour.name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

                <div class="">
                    <div class="post-item">
                        <div class="post-aside clearfix">
                            <div class="entry">
                                {{ tour.overview |raw }}
                            </div>

                            {# buttons #}
                            <a class="btn btn_default" href="{{ path('booking') }}"><span>BOOK TRIP</span></a>
                            {{ include('Tour/_send_to_a_friend.html.twig') }}
                            {#<a class="btn btn-info" href="{{ path('request_quote',{'slug':slug}) }}">REQUEST A QUOTE</a>#}
                            {% if tour.pdf is defined and tour.pdf is not null %}
                                <a class="btn btn_cyan" href="{{ path('download_pdf',{'slug':tour.pdf}) }}"><span>DOWNLOAD PDF</span></a>
                            {% else %}
                                <a class="btn btn_cyan" href="{{ path('request_quote',{'slug':slug}) }}"><span>REQUEST A QUOTE</span></a>
                            {% endif %}
                            <a class="btn btn_green" href="{{ path('catalog') }}"><span>REQUEST A CATALOG</span></a>
                            {#<a class="btn btn_violet" style="margin-top: 5px;" href="{{ path('request_airfare_quote') }}"><span>REQUEST AIRFARE QUOTE</span></a>#}
                            <a class="btn btn_turquoise" style="margin-top: 5px;" href="{{ path('request_a_callback') }}"><span>REQUEST A CALLBACK</span></a>
                            {{ include('Tour/_trip_advisor_button.html.twig') }}

                            <h2 style="color: #B28E1B; margin-top: 20px; ">DETAILED TOUR ITINERARY</h2>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 1 ~ Arrival in Ulaanbaatar, Mongolia</div>
                                <div class="box_content">
                                    <p>Upon arrival at Chinggis Khan International Airport, you are met by your tour guide and transferred to the hotel in the city center.</p>
                                    <p>Free day for rest or independent exploration of Ulaanbaatar</p>
                                    <p><strong><em>Meals: Dinner <br/> Overnight in 4* hotel</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 2 ~ Cultural Tour of Ulaanbaatar</div>
                                <div class="box_content">
                                    <p>The first stop is Sukhbaatar Square. This central square is named after Damdiny Sukhbaatar, the revolutionary hero of 1921 who declared independence from China. Next is a visit to Gandan Monastery, the largest and most famous functioning monastery in Mongolia. Here you will see the impressive Golden Buddha Statue of Migjid Janraisigand may even have the opportunity to experience monks in worship. Time permitting, you will visit the Natural History Museum, which is famous for its collection of authentic dinosaur skeletons found throughout Mongolia, and then take in a fantastic view of the entire city from Zaisan memorial hill. End the evening with a welcome dinner at a local restaurant.</p>
                                    <p><strong><em> Meals: Breakfast, Lunch, Dinner<br/> Overnight in 4* hotel</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 3 Flight from Ulaanbaatar to Ulgii </div>
                                <div class="box_content">
                                    <p>Transfer to the airport for a morning flight to Ulgii (2.5 hours), capital of Bayan-Ulgii,Mongolia’s westernmost province.</p>
                                    <p><strong><em> Meals: Breakfast, Lunch, Dinner<br/> Overnight in local hotel or ger camp</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 4 Explore Ulgii Town and Visiting Museum</div>
                                <div class="box_content">
                                    <p>Ulgii (or Ölgii) is the capital of the Bayan-Ölgii Aimag (province) located in the extremewest  of  the country.   It  has an altitude  of  about 5,600 feet  and population of  about29,000.  It is the largest town in the area.  It is the center of the predominately Kazakhregion of Mongolia.  The isolation of the Altai Mountains has preserved the language andtraditions of the Kazakhs, who live amongst some of the most spectacular scenery  inMongolia.  We will  visit  Kazakh families  in  their  settlement.  Their  Gers  are  slightlylarger than Mongolian Gers, and are decorated with brightly colored rugs. WWe will enjoytheir hospitality and friendliness and learn more in deep about their culture. You will seetheir  traditional  technology  to  make  colorful  rug.  A visit to the well regarded provincial museum should provide a good overview of theMuslim culture of Western Mongolia that differs so much from most of Mongolia.</p>
                                    <p><strong><em>Meals: Breakfast, Lunch, Dinner <br/> Overnight in local hotel or ger camp</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 5 Visiting Eagle Hunting Family and explore their unique lifestyle </div>
                                <div class="box_content">
                                    <p>We will be visiting some of the nomads of the area and experiencing their unique lifestyle.Kazakh craftswomen are renowned for their colorful embroidery and textiles, and their gers are beautifully decorated. Handcrafted felt carpets line the floor, and delicately embroidered tapestries adorn the walls of their homes, with each design unique to a particular family.</p>
                                    <p><strong><em> Overnight in local hotel or ger camp, <br/> Meals: Breakfast, lunch and dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 6 Flight back to Ulaanbaatar and day trip to Terelj National Park & statue of Chinggis Khan</div>
                                <div class="box_content">
                                    <p>Following an early morning breakfast, you will be transferred back to the Murun Airport. We bid farewell to our drivers and fly to Ulaanbaatar where we meet our local transport for a 90-minute drive to Gorkhi Terelj National Park. This unforgettable excursion will take you to features such as scenic valleys, a winding river, and restful groves of trees. Many nomads live in the park itself, where they find lush land for their animals, and you may even see majestic herds of yak grazing near the camp. Once inside the park you will be able to visit the notable rock formations "Turtle rock" and “Monk reading a book." You will also have the opportunity to hike up to the Aryabal meditation center and learn more about Mongolian Buddhism.
                                        <br>On the way to the national park, you will take a detour to visit the giant Statue of Chinggis Khan which stands 40m (132 ft) high. The monument is about 33 miles east of Ulaanbaatar and stands at the point where, according to legend, he found a golden whip. The statue is symbolically pointed east, towards his birthplace. It is on top of the Chinggis Khan Statue Complex, a visitor center, itself 10 meters (32 ft 10 in) tall, with 36 columns representing the 36 khans from Genghis to Ligdan Khan. It was designed by sculptor D. Erdenebileg and architect J. Enkhjargal and erected in 2008.
                                        <br>In the afternoon we will drive back to Ulaanbaatar and transfer to the hotel.</p>
                                    <p><strong><em> Overnight in 4* hotel, <br/> Meals: Breakfast</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 7 Fly to the Gobi Desert (1.2 hours) and then drive to Yol Valley and Gurvansaikhan National Park </div>
                                <div class="box_content">
                                    <p>This morning we fly over vast steppe to the Gobi, Mongolia’s southernmost province of semi-arid desert. Meet your local guide and driver and then transfer by4WD vehicle to the Yol Valley in Gurvansaikhan National Park, situated in the lap ofAltai Mountains. On the way to our lodge, we stop to visit the local Natural History Museum for an insight to the flora and fauna of the area.
                                        <br>The next three days will be well spent exploring the vast Gobi-the habitat of the Bactrian Camels, Argali mountain sheep, Golden Eagles, Jerboas that resembles the Kangaroo rats, Saker Falcons etc. We may also take a scenic hike through the valley to discover the habitat of indigenous vulture-like lammergeyers, Altai snow cocks, ibex, yaks, and Argali mountain sheep.</p>
                                    <p><strong><em>Overnight in Ger camp<br/> Meals: Breakfast, lunch and dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 8 Yol Valley to Hongoryn Els</div>
                                <div class="box_content">
                                    <p>After breakfast, take in the stunning scenery of the Gobi-Altai Mountain range as you transfer to the towering sand dunes of Khongoryn Els, home to the ‘Singing Sands’. These spectacular dunes got their name from the noise made by the shifting sand in the wind. Feel the breeze in your hair as you ride a camel across the dunes before returning to the ger camp. Isolated from the rest of the country, the Singing Sands are the best keptsecret for thousand years in the history of Mongolia. </p>
                                    <p><strong><em>Overnight in Ger camp<br/> Meals: Breakfast, lunch and dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 9 Khongor sand dunes</div>
                                <div class="box_content">
                                    <p>Today we will have a full day exploring the sand dunes and rest after the long drive. The dunes seem to stretch on forever like a soft ribbon of sand draped over the desert. The shifting sand blown by the wind or someone makes sound so it is called Singing Sand Dunes. There is a beautiful green oasis known as Seruun bulag near the Khongor River. Return to the camp for lunch and enjoy feeling silence and a peaceful in the beautiful surroundings Gobi Deserts. </p>
                                    <p><strong><em> Overnight in Ger camp<br/> Meals: Breakfast, lunch and dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 10 Khongor Sand Dune to the Flaming Cliffs</div>
                                <div class="box_content">
                                    <p>Following breakfast, we drive to Bayanzag.  After lunch and some rest, we drive to Bayan Zag, popularly called as “The Flaming Cliffs” for its glowing orange rock. It was here, in 1922, that Dr. This area got international name as Roy Chapman Andrews and his exploration team from the American Museum of Natural History discovered the first nest of dinosaur eggs here. The area is haven for the natural history scientists as the area is rich in dinosaur fossils.</p>
                                    <p><strong><em> Overnight in ger camp<br/> Meals: Breakfast, lunch and dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 11 Day trip to Khavtsgait Petroglyphs</div>
                                <div class="box_content">
                                    <p>In the morning we drive to the site of the Khavtsgait Petroglyphs. The KhavtsgaitPetroglyphs from the Bronze Age (4000-3000 BC) are beautifully carved on many rockson the top of a sacred mountain. It is easy to find the rock paintings there because theyare spread on rocks all around. The area is very rocky and can be slippery to climb, butby carefully  following a  path  up the  mountain,  you  can reach  the  top  to  see  thesebeautiful rock paintings.
                                        <br>The  petroglyphs  were  carved  and  painted  with  motifs  consisting  of  animals,hunting scenes and weapons. They depict various animals related to everyday life ofancient people including deer, bears, wolves and hunters,  and wolves with livestock.Other paintings depict more domestic scenes of yaks pulling carts, the wheels and horsesflattened sideways like hieroglyphs, and herders on horseback. The engravings vary insize, ranging from two-centimeters to the real life size of horses.</p>
                                    <p><strong><em>Overnight in the Ger Camp<br/> Meals: Breakfast, lunch and dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 12 Drive to Ongi Temple</div>
                                <div class="box_content">
                                    <p>Today you&#039;ll drive to the ruins of the Ongi monastery. It was the largest Buddhist center in the Gobi region. There are 2 complexes of temple ruins which were built up in 1780s. During political repressionin 1930s’ these two temples were destroyed and many lamas were executed and imprisoned. Visit Ruin of monastery reconstructed parts. On the way visit basin of the Ongi river which is dried out because ofmining activity.</p>
                                    <p><strong><em> Overnight in Ger camp<br/> Meals: Breakfast, lunch and dinner</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 13 Ongi Monastery to Karakorum </div>
                                <div class="box_content">
                                    <p>After breakfast at the tourist camp, drive to Karakorum, the symbolic ruins of the 13th century capital of the Mongol Empire. On the way, you may stop for an optional camel ride in the sand dunes of Mongol Els. Mounted on the double hump camel, you can wander about the sand dunes and visit the nomadic camps in the area.
                                        <br>In Karakorum, we will visit Erdene-Zuu, the oldest monastery, with 108 stupas, built in 1586. The monastery was built of the remains of the ancient Mongolian capital. Next, we will visit the Karakorummuseum and see the Great Mongol state period, Stone Age, Bronze Age, Ancient state period halls.</p>
                                    <p><strong><em> Meals: Breakfast, Lunch, Dinner<br/>Overnight in ger camp</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 14 Karakorum to Tsenher Hot Spring</div>
                                <div class="box_content">
                                    <p>Following breakfast at tourist camp, we will drive to Tsenher hot spring. Along the way we will stop fora break in the small town of Tsetserleg to visit a monastery museum. We spend overnight in a ger camp based at natural hot springs. Soak in hot water; enjoy a hike in the hills.</p>
                                    <p><strong><em> Meals: Breakfast, Lunch, Dinner<br/>Overnight in Ger camp</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 15 Tsenher Hot Spring to Elsen Tasakhai via Ugii Lake</div>
                                <div class="box_content">
                                    <p>In the morning, drive out to Ugii Lake with stops at Turkish monuments in the Orkhon Valley. These monuments are dedicated to the Turkish Princes Kul Tegin and Bilge Khan, brothers who were famous for their military bravery. Continue on to Ugii Lake, one of the largest fresh-water lakes in Mongolia, known for its migratory birdlife such cranes, ducks, geese, and pelicans and for its variety of fish.After a lunch break, drive to Elsen Tasarkhai, stopping to pay a visit with a nomad family and learning how they live and make dairy products. You may even have a try at drinking fermented mare&#039;s milk.</p>
                                    <p><strong><em> Meals: Breakfast, Lunch, Dinner<br/>Overnight in Ger camp</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 16 Drive to Hustai National Park</div>
                                <div class="box_content">
                                    <p>After a leisurely breakfast, head out on the drive to Hustai National Park , the site of a unique re-introduction of Przewalski&#039;s Horse (Equus Przewalskii), called &quot;takhi&quot; by the locals. It became extinct in the wild in 1969 and since 1992, has been successfully re-introduced in Hustai from zoos around the world. This has been an international effort monitored by the Foundation for the Przewalskii Horse, based in the Netherlands and MACNE (Mongoian Association for Conservation of Nature and the Environment.) The park extends through the Khentii Mountains and includes the western edge of the Mongolian steppe. It contains large patches of birch and aspen forests and visible remains of Neolithic graves. Other wildlife found here include red deer, the wolf, and Mongolian gazelle.</p>
                                    <p><strong><em> Meals: Breakfast, Lunch, Dinner<br/>Overnight in Ger camp</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 17 Drive back to Ulaanbaatar</div>
                                <div class="box_content">
                                    <p>After breakfast, drive back to Ulaanbaatar.  En route to the hotel, we may visit the BogdoKhaan Winter Palace Museum.  The Bogdo Khaan Winter Palace is the home of the last Mongolian King, Javzun Damba Khutagt VII.  The museum contains a number of Buddhist artworks and the private collection of Bogdo Khaan, composed of gifts from rulers and kings from all over the world.  The artworks displayed here were made by the top Mongolian, Tibetan, and Chinese master-sculptors of the 18th and 19th centuries andrepresent the gods of the Buddhist pantheon. In the evening you can enjoy a farewell dinner and attend the local folklore dance shows.</p>
                                    <p><strong><em> Meals: Breakfast, Lunch, Dinner<br/>Overnight in 4* hotel</em></strong></p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="sb sb_brown">
                                <div class="box_title">Day 18 Depart Mongolia</div>
                                <div class="box_content">
                                    <p>Transfer to the airport for flight to next destination.</p>
                                    <div class="clear"></div>
                                </div>
                            </div>

                            {# buttons #}
                            <a class="btn btn_default" href="{{ path('booking') }}"><span>BOOK TRIP</span></a>
                            {{ include('Tour/_send_to_a_friend.html.twig') }}
                            {#<a class="btn btn-info" href="{{ path('request_quote',{'slug':slug}) }}">REQUEST A QUOTE</a>#}
                            {% if tour.pdf is defined and tour.pdf is not null %}
                                <a class="btn btn_cyan" href="{{ path('download_pdf',{'slug':tour.pdf}) }}"><span>DOWNLOAD PDF</span></a>
                            {% else %}
                                <a class="btn btn_cyan" href="{{ path('request_quote',{'slug':slug}) }}"><span>REQUEST A QUOTE</span></a>
                            {% endif %}
                            <a class="btn btn_green" href="{{ path('catalog') }}"><span>REQUEST A CATALOG</span></a>
                            {#<a class="btn btn_violet" style="margin-top: 5px;" href="{{ path('request_airfare_quote') }}"><span>REQUEST AIRFARE QUOTE</span></a>#}
                            <a class="btn btn_turquoise" style="margin-top: 5px;" href="{{ path('request_a_callback') }}"><span>REQUEST A CALLBACK</span></a>
                            {{ include('Tour/_trip_advisor_button.html.twig') }}
                            <script type="text/javascript">var addthis_config = {'services' : 'facebook,twitter,email,more', "data_track_addressbar":true};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b596d25b76435f"></script>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ include('Tour/_tour_style.html.twig') }}
{% endblock %}